- let socials = ['gl', 'tw', 'gl', 'tw'];
- let tags = ['Решительный', 'Патриотический', 'Организация', 'Открывать', 'Делаться', 'Драгоценный', 'Повторять', 'Китайский', 'Привести', 'Понять', 'Прошлый'];

.footer
  .section
    if (popular_tags)
      .footer-caption Популярные теги

      .footer-tags
        each tag in tags
          a.tag-link(href='#')= tag

    .footer-nav
      +logo()

      .footer-menu
        +nav(true)

    //-.footer-socials
      ul.social-list
        each soc in socials
          li: a.social-link(href='#')
            +icon(soc)

    .footer-info
      .footer-copyright
        a(href='#') Noam.ru
        span
          |  — последние новости России и мира

      .footer-feedback
        a(href='#') Обратная связь
