
- let mapButtons = [{icon: 'politics', name: 'Политика'}, {icon: 'horn', name: 'Заявления'}, {icon: 'virus', name: 'Коронавирус'}, {icon: 'lockdown', name: 'Локдаун'}, {icon: 'seeds', name: 'Посевная'}, {icon: 'whatshot', name: 'Пожары'}, {icon: 'flood', name: 'Наводнения'}, {icon: 'ball', name: 'Футбол'}, {icon: 'tornado', name: 'Ураганы'}];

mixin map_toggle(hide)
  .header-map__toggle
    a.btn.btn-map.__s-33.btn-red(href='livemap.html')
      +icon('whatshot').btn-icon
      span() Новости на карте

    //-a.btn.btn-map.__s-33.btn-gray(href='main.html')
      +icon('tiles').btn-icon
      span(class= !hide ? '' : 'mob-hide') Плитки
    //-a.btn.btn-map.__s-33.btn-red(href='livemap.html')
      +icon('map').btn-icon
      span(class= !hide ? '' : 'mob-hide') Карта

.header-map__toggle-mob.wide-hide
  a.btn.btn-map.__s-33.btn-red(href='livemap.html')
    +icon('whatshot').btn-icon
    span() Новости на карте

.header(class= header_class)
  .section: .header-inner
    +logo()

    .header-menu: .header-menu__wrapper
      +nav()

      .header-menu__top
        +search()
        +currency()
        +user()

      if (map && header_class === '__short')
        +map_toggle(true)

    if (map && header_class === '__short')
      .mob-hide.header-map__toggle-mob
        +map_toggle(false)
      .header-map__scroller
        .js-map-slider
          .header-map
            each c, ci in mapButtons
              a.btn.btn-map.__s-28.btn-black.js-map-filter-btn(href='#' class= ci > 2 ? '' : ' __active' )
                +icon(c.icon).btn-icon.icon-inactive
                +icon('info').btn-icon.icon-active
                span= c.name
    else
      .header-map__toggle-all.wide-only
        +map_toggle(false)

    .burger.js-burger
      span
      span
      span

  .header-overlay.js-burger
