.header(class= header_class)
  .section
    +logo()

    .header-menu
      +currency()
      if (header_class !== '__short')
        +nav()
      +user()

    .burger.js-burger
      span
      span
      span
  .header-overlay.js-burger
