mixin auth_popup(error)
  - let formId = 'auth' + (error ? '_' + error : '');

  .popup(id='modal_' + formId)
    .popup-title Авторизация

    form(action='#')
      - if (error)
        .form-error
          +icon('close').form-icon
          span Неверный Email или пароль

      .form-cell
        label.form-label(for=(formId + '_email-input')) Email:
        .form-input
          input.input.input-white.__s-40(id= (formId + '_email-input') placeholder='Введите Email' class=(formId ? '__error' : ''))
          - if (error)
            .form-input__error Введите Email адрес

      .form-cell.__mb-34
        label.form-label(for=(formId + '_password-input')) Пароль:
        a.popup-link.js-popup(data-popup='#modal_restore' href='#') Забыли пароль?
        .form-input
          a.js-toggle-type.form-password__eye(data-toggle=(formId + '_password'))
            +icon('eye').btn-icon.__open
            +icon('eye_hide').btn-icon.__hide
          input.input.input-white.__s-40(id=(formId + '_password-input') placeholder='Введите пароль' type='password' class=(formId ? '__error' : ''))
          - if (error)
            .form-input__error Введите пароль

      .form-cell
        button.btn.btn-red.__s-40.btn-auth Войти

      .form-cell
        button.btn.btn-white.__s-40.btn-auth.js-popup(data-popup='#modal_new_password')
          +icon('google').btn-icon
          span Войти через Google

    .popup-footer
      span Нет аккаунта?&nbsp;
      a.popup-link.js-popup(data-popup='#modal_reg' href='#') Зарегистрироваться

.hide
  +auth_popup()
  +auth_popup('error')

  #modal_reg.popup
    .popup-title Регистрация

    form(action='#')
      .form-cell
        label.form-label(for='reg_email') Email:
        .form-input
          input#reg_email.input.input-white.__s-40(placeholder='Введите Email')

      .form-cell.__mb-34
        label.form-label(for='reg_password') Пароль:
        .form-input
          a.js-toggle-type.form-password__eye(data-toggle='#reg_password')
            +icon('eye').btn-icon.__open
            +icon('eye_hide').btn-icon.__hide
          input#reg_password.input.input-white.__s-40(placeholder='Введите пароль' type='password')

      .form-cell.__mb-34
        label.form-label(for='reg_password_confirm') Повторите пароль:
        .form-input
          a.js-toggle-type.form-password__eye(data-toggle='#reg_password_confirm')
            +icon('eye').btn-icon.__open
            +icon('eye_hide').btn-icon.__hide
          input#reg_password_confirm.input.input-white.__s-40(placeholder='Введите пароль' type='password')

      .form-cell
        button.btn.btn-red.__s-40.btn-auth Зарегистрироваться

    .popup-footer
      span Уже есть аккаунт?&nbsp;
      a.popup-link.js-popup(data-popup='#modal_auth' href='#') Войти

  #modal_new_password.popup
    .popup-title Создание пароля

    form(action='#')
      .form-cell.__mb-34
        label.form-label(for='new_password') Новый пароль:
        .form-input
          a.js-toggle-type.form-password__eye(data-toggle='#new_password')
            +icon('eye').btn-icon.__open
            +icon('eye_hide').btn-icon.__hide
          input#new_password.input.input-white.__s-40(placeholder='Введите пароль' type='password')

      .form-cell.__mb-34
        label.form-label(for='new_password_confirm') Повторите пароль:
        .form-input
          a.js-toggle-type.form-password__eye(data-toggle='#new_password_confirm')
            +icon('eye').btn-icon.__open
            +icon('eye_hide').btn-icon.__hide
          input#new_password_confirm.input.input-white.__s-40(placeholder='Введите пароль' type='password')

      .form-cell
        button.btn.btn-red.__s-40.btn-auth Обновить

  #modal_info.popup
    .popup-title Письмо отправлено

    form(action='#')
      p На указанный вами адрес электронной почты было отправлено письмо с ссылкой на восстановление пароля.

      .form-cell
        button.btn.btn-white.__s-40.btn-auth.js-popup-close Закрыть

  #modal_restore.popup
    .popup-title Забыли пароль?

    form(action='#')
      .form-cell
        label.form-label(for='restore_email') Email:
        .form-input
          input#restore_email.input.input-white.__s-40(placeholder='Введите Email, указанный при регистрации')

      .form-cell
        button.btn.btn-red.__s-40.btn-auth.js-popup(data-popup='#modal_info') Восстановить

    .popup-footer
      span Вспомнили пароль?&nbsp;
      a.popup-link.js-popup(data-popup='#modal_auth' href='#') Войти

  #modal_location.popup
    .popup-title Выбор локации

    form(action='#')
      .form-cell.__mb-34
        label.form-label(for='location_region') Ваш регион:
        .form-input.select.select-white.__s-40
          span.input-icon.js-input-icon
          input#location_region.js-input-autocomplete.input.input-white.__s-40(name="location" data-placeholder='Выберите регион' tabindex="1" data-autocomplete= '[{"value":"Россия","data":{"label":"Россия","icon":"img/flag/ru.png"}},{"value":"Беларусь","data":{"label":"Беларусь","icon":"img/flag/bl.png"}},{"value":"Украина","data":{"label":"Украина","icon":"img/flag/ua.png"}},{"value":"Казахстан","data":{"label":"Казахстан","icon":"img/flag/kz.png"}}]')
            //-option(value="")
            //-option(value="m1" data-icon="img/flag/ru.png") Россия
            //-option(value="m2" data-icon="img/flag/bl.png") Беларусь
            //-option(value="m3" data-icon="img/flag/ua.png") Украина
            //-option(value="m4" data-icon="img/flag/kz.png") Казахстан

      .form-cell
        +check('Определять местоположение автоматически', true)

  #modal_complain.popup.wide
    .popup-title Пожаловаться на материал

    form(action='#')
      .form-cell.__mb-44
        label.form-label(for='complain_region') Причина жалобы:
        .form-input.select.select-white.__s-40
          select#complain_region.js-select-icon(name="claim" data-placeholder='Выберите причину жалобы' tabindex="1")
            option(value="")
            option(value="c1") Причина 1
            option(value="c2") Причина 2
            option(value="c3") Причина 3
            option(value="c4") Причина 4

      .form-cell
        label.form-label(for='complain_text') Комментарий:
        .form-input
          textarea#complain_text.input.input-white.__s-90(placeholder='Если необходимо, добавьте комментарий')

      .form-cell
        button.btn.btn-red.__s-40.btn-auth.__offset-8 Отправить жалобу

      .form-cell
        button.btn.btn-white.__s-40.btn-auth.js-popup-close
          span Отменить
