doctype html
html(lang='')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  body
    table.letter-wrapper(style='width:100%;background-color:#f6f6f6' cellspacing='0' cellpadding='0')
      tbody
        tr
          td(style='padding:25px 0')
            table(style='background-color:#ffffff;max-width:600px;width:100%;border:none;margin:0 auto;border-spacing:0;border-collapse:collapse' cellspacing='0' cellpadding='0' align='center')
              tbody

                block content
