include ../includes/data
include ../includes/require
include head
include ../mixins/img
include ../mixins/icon

block variables

doctype html
html(lang='' class=('__page-error' + (aside_class || '')))
  +head()

  body
    .page
      .content
        block content
