extends ./includes/layout_blank

block variables
  - page_title = 'Error page';
  - html_class = '';
  - popular_tags = false;

block content
  .section-holder
    .section.__white
      h1.section-title.text-center Ошибка 500

      .recommended-holder
        p.text-center Что-то пошло не так, но мы уже работаем над решением проблемы.
