extends ./includes/layout

block variables
  - page_title = 'article';
  - popular_tags = false;

block content
  .section-holder
    .section.__white
      .article
        h1 Неврологи нашли биомаркер, предсказывающий деменцию за семь лет

        .card-info
          span.card-tag Политика
          span.card-logo
            +img('logo/lenta.png')
            span.card-portal lenta.ru
          span.card-date 09.12.21 11:56
          span.card-views
            +icon('eye')
            span 12564

        .article-image
          +img('article/article_1.jpg')

        p Биомаркер, позволяющий предсказать развитие деменции за семь лет до появления симптомов, выявила международная команда исследователей во главе с неврологами Ирландского национального университета в Голуэе. Исследование было опубликовано в журнале Journal of Alzheimer.
        p Белок P-tau181 — один из белков, повышение концентрации которого связано с развитием болезни Альцгеймера. Более ранние исследования показали, что изменения в его уровне можно заметить еще за 3-4 года до первых симптомов, но, согласно новым данным, это можно сделать и раньше.
        p Исследователи проанализировали образцы крови, собранные в 2011-2014 годах у 54 человек, средний возраст которых составил около 64,4 лет. Спустя в среднем семь лет эти люди по тем или иным причинам прошли сканирование мозга. У части из них к этому времени наблюдались симптомы болезни Альцгеймера.
        p Как выяснилось, даже за семь лет до появления симптомов уровень белка уже был повышен — пока что ни один известный биомаркер не показывал изменения на таком отдаленном сроке.
        p «Результаты этого исследования очень многообещающие — P-tau181 потенциально может помочь нам выявить людей с высоким риском развития деменции на очень ранней стадии заболевания, до того, как у них появятся трудности с памятью или изменения в поведении», — отметили авторы работы.
        p Исследователи рассчитывают, что P-tau181 можно будет использовать для скрининговых исследований, чтобы вовремя дать людям с высоким риском развития болезни Альцгеймера соответствующие рекомендации. Кроме того, он позволит отбирать подходящих участников для будущих исследований препаратов для борьбы с деменцией.

    .section.__white.__content.__article
      .section-border
      .section-title
        span Читайте также

      ul.card-holder.__grid.js-grid
        +loop_while(2)
          li.grid-item
            +card('«Челси» и «Зенит» сыграли вничью в заключительном матче Лиги чемпионов', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
          li.grid-item
            +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
          li.grid-item
            +card('«Барселона» впервые за 16 лет не сыграет в плей-офф ЛЧ', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
          li.grid-item
            +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
