extends ./includes/layout

block variables
  - page_title = 'article';
  - map_card_page = true;

block content
  +aside()

  .section-holder
    .section.__white
      .article
        h1 В Англии сообщили об аресте всемирно известного футболиста АПЛ по подозрению в изнасиловании

        .card-info
          span.card-tag Политика
          span.card-logo
            +img('logo/lenta.png')
            span.card-portal lenta.ru
          span.card-date 09.12.21 11:56
          span.card-views
            +icon('eye')
            span 12564
        .card-content
          .article-image.__fit
            +img('article/article_2.jpg')

          p Футболист одного из клубов Английской премьер-лиги (АПЛ) был арестован в северной части Лондона по подозрению в изнасиловании. Об этом сообщает The Telegraph.
          p Источник умалчивает фамилию игрока, но отмечает, что речь идет о всемирно известном футболисте, который должен выступить на чемпионате мира — 2022 в Катаре.
          p Также сообщается, что спортсмен проживает в Северном Лондоне. Ему от 26 до 29 лет. Другие подробности не сообщаются.

          .article-controls
            a.btn.btn-black.__s-45.btn-auth(href='#')
              span Продолжить чтение в источнике
              +icon('arrow_ne').btn-icon

          +article_soc()
          +article_controls()

    .section.__white.__title.__article
      .section-title
        span Похожие новости на карте

    .section.__map.__white
      script.
        window.MAP_LIMIT = 10;
      #map.map

    .section.__white.__spacer

