extends ./includes/layout

block variables
  - page_title = 'article';
  - html_class = '__page-aside';
  - popular_tags = false;

block content
  +aside()

  .section-holder
    +card_article_section()
