extends ./includes/layout

block variables
  - page_title = 'category';
  - aside_class = '';
  - html_class = '__page-aside';

block content

  .section-holder
    .section.__white.__content
      .section-title
        span Новости спорта

      .hero-wrapper.__black
        +hero_news()

      +aside()

      ul.card-holder.__grid
        //-li.grid-sizer
        li.grid-item.__w-2.__h-2
          +card('Не храните это дома! ТОП-10 вещей, притягивающих несчастья и нищету', 'lenta', '08.12.21 10:35', 'news/latatest.jpg', '', 'Самые привычные и безобидные на первый взгляд предметы, которые мы спокойно храним дома, способны навлечь на нас беду и отсутствие финансового благополучия. Cоставили список вещей, которые нужно поскорее отнести на мусорку.', '12564')
        li.grid-item.__w-2.__h-2
          +card('Не храните это дома! ТОП-10 вещей, притягивающих несчастья и нищету', 'lenta', '08.12.21 10:35', 'news/latatest.jpg', '', 'Самые привычные и безобидные на первый взгляд предметы, которые мы спокойно храним дома, способны навлечь на нас беду и отсутствие финансового благополучия. Cоставили список вещей, которые нужно поскорее отнести на мусорку.', '12564')
        li.grid-item.__w-3
          +card('"Это уже агония". Украину ждет новый раскол', 'lenta', '08.12.21 10:35', 'news/raskol.jpg', '', '«Все соперники у нас были уровня Лиги чемпионов. Хорошие команды, к матчам с которыми было непросто готовиться. Все по-разному играют.»', '12564')
        li.grid-item.__w-3
          +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/hakasii.jpg', '', '«Все соперники у нас были уровня Лиги чемпионов. Хорошие команды, к матчам с которыми было непросто готовиться. Все по-разному играют.»', '12564')
        li.grid-item.__w-3
          +card('Назван главный просчет США на Украине', 'lenta', '08.12.21 10:35', 'news/demen.jpg', '', '«Все соперники у нас были уровня Лиги чемпионов. Хорошие команды, к матчам с которыми было непросто готовиться. Все по-разному играют.»', '12564')

        +text_news()

      +pagination()
