extends ./includes/layout

block variables
  - page_title = 'category';
  - aside_class = '';
  - html_class = '__page-aside';

block content
  +aside()

  .section-holder.__mob-order_-1
    .section.__white
      .category
        +category('Новости спорта')
