extends ./includes/layout

block content
  | <style>ul.list a {color: #fff;}</style>

  ul.list(style="padding: 15px;")
    li(style="padding: 5px;"): a(href="password_recovery.html") password_recovery
    li(style="padding: 5px;"): a(href="livemap.html") livemap
    li(style="padding: 5px;"): a(href="livemap_2.html") livemap_2
    li(style="padding: 5px;"): a(href="main.html") main
    li(style="padding: 5px;"): a(href="main.html#modal_auth") main#modal_auth
    li(style="padding: 5px;"): a(href="main.html#modal_reg") main#modal_reg
    li(style="padding: 5px;"): a(href="main.html#modal_new_password") main#modal_new_password
    li(style="padding: 5px;"): a(href="main.html#modal_info") main#modal_info
    li(style="padding: 5px;"): a(href="main.html#modal_restore") main#modal_restore
    li(style="padding: 5px;"): a(href="main.html#modal_location") main#modal_location
    li(style="padding: 5px;"): a(href="main.html#modal_complain") main#modal_complain
    li(style="padding: 5px;"): a(href="card.html") card
    li(style="padding: 5px;"): a(href="card_2.html") card_2
    li(style="padding: 5px;"): a(href="card_map.html") card_map
    li(style="padding: 5px;"): a(href="feedback.html") feedback
