extends ./includes/layout

block variables
  - let page_title = 'livemap';
  - let map = true;
  - show_footer = false;
  - header_class = '__short'
  - html_class = '__map-aside __scroll'

block content
  .map-holder
    .map-wrapper
      #map.map
    .map-holder__aside
      .hero-aside
        .hero-aside__head
          .hero-aside__caption События на карте
          .hero-aside__update Последнее обновление 07.06.2022 в 00:11:53

          a.btn.btn-red.btn-aside.__s-45(href='#')
            +icon('reload').btn-icon
            span Показать 11 новых новостей

        ul.hero-aside__list
          +loop_while(8)
            li
              +map_card('Дуда спрогнозировал присвоение Балтийскому морю статуса внутреннего моря НАТО', 'tass', ['Час назад', 'Заявления'], 'map/news_1.png', '', '', '__blue', 'horn')
            li
              +map_card('Врач назвал способ получения суточной дозы витамина D за 15 минут', 'share', ['Час назад', 'Медицина'], '', '', '', '__red', 'info')
            li
              +map_card('Звезда Instagram убила свою мать и вырезала ее еще бьющееся сердце', 'lenta', ['Час назад', 'События'], '', '', '', '__red', 'info')
            li
              +map_card('Лапорта о вылете «Барсы» из ЛЧ: «Мы все должны грести в одном направлении и менять сложную спортивную и финансовую ситуацию в клубе»', 'sports', ['Час назад', 'Футбол'], 'map/news_1.png', '', '', '__blue', 'ball')

