extends ./includes/layout

block variables
  - page_title = 'home';
  - footer_class = '';

block content
  //-.aside-holder.__top
    //-.section-holder
      .section
        .hero
          .hero-title
            span Названа причина
            span поражения Байдена
            span на переговорах
            span с&nbsp;Путиным

            a.btn.btn-red.btn-hero.__s-45(href='#')
              span Читать далее
              +icon('arrow_ne').btn-icon

          .hero-preview
            +img('news/news_1.jpg')

          .hero-scroller
            .js-hero-slider
              .card-holder
                +loop_while(4)
                  +card('Будущий канцлер Германии высказался о войсках у границ Украины', 'lenta', '', 'news/kancler.jpg', '', '', '12564')
                  +card('"Это уже агония". Украину ждет новый раскол', 'lenta', '', 'news/raskol.jpg', '', '', '12564')
                  +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '', 'news/hakasii.jpg', '', '', '12564')
                  +card('Назван главный просчет США на Украине', 'lenta', '', 'news/prolet.jpg', '', '', '12564')
            .js-hero-scrollbar.hero-scrollbar: .handle

  +aside()

  .section.__black.__content
    .section-title.section-title__hero.hero-wide-hide Популярные материалы
    ul.card-holder.__hero
      li.grid-item.__main.__w-2
        .card
          .card-preview
            img(src='upload/news/latatest.jpg')
          .card-info
            span.card-logo
              img(src='upload/logo/zr.png')
              span.card-portal zr.ru
            span.card-views
              +icon('eye')
              span 12 564
          a.card-title(href='card.html') Макрон призвал Путина прекратить военную операцию в Украине
          .card-description Елисейский дворец анонсировал еще один разговор президента Франции Макрона с российским лидером «в ближайшие дни», а также сообщил о дальнейших контактах с Киевом и МАГАТЭ, чтобы было достигнуто соглашение по безопасности ЗАЭС.

          .card-footer
            a.btn.btn-white.btn-hero.__s-40(href='card.html')
              span Читать далее
              +icon('arrow_ne').btn-icon

      li.grid-item
        +card('«Потеряли близкого человека». Как британцы прощаются с Елизаветой Второй', 'lenta', '', 'news/latatest.jpg', '', 'Как в Великобритании прощаются с королевой, которая правила страной 70 лет. Репортаж РБК о происходящем у королевских резиденций в Лондоне и Виндзоре.', '32 408')
      li.grid-item
        +card('Экономисты предсказали «тягучую» инфляцию в России', 'lenta', '', 'news/kancler.jpg', '', 'Такой прогноз дали аналитики ЦМАКПа, указав на немонетарную природу инфляции, против которой неэффективны монетарные инструменты.', '12 420')
      li.grid-item
        +card('«Реал» впервые за 13 лет начал чемпионат Испании с пяти побед подряд', 'lenta', '', 'news/raskol.jpg', '', 'Мадридский клуб в пятом туре разгромил «Мальорку» со счетом 4:1. «Реал» проигрывал к концу первого тайма, но в итоге одержал волевую победу.', '8 120')

  .section.__white.__content
    .section-title
      span Последнее в СМИ
      a.section-title__link(href='#')
        span Больше новостей по теме
        +icon('back').btn-icon

    ul.card-holder.__grid
      //-li.grid-sizer
      li.grid-item.__w-2.__h-2
       +card('Не храните это дома! ТОП-10 вещей, притягивающих несчастья и нищету', 'lenta', '08.12.21 10:35', 'news/latatest.jpg', '', 'Самые привычные и безобидные на первый взгляд предметы, которые мы спокойно храним дома, способны навлечь на нас беду и отсутствие финансового благополучия. Cоставили список вещей, которые нужно поскорее отнести на мусорку.', '12564')
      li.grid-item.__w-2.__h-2
        +card('Не храните это дома! ТОП-10 вещей, притягивающих несчастья и нищету', 'lenta', '08.12.21 10:35', 'news/latatest.jpg', '', 'Самые привычные и безобидные на первый взгляд предметы, которые мы спокойно храним дома, способны навлечь на нас беду и отсутствие финансового благополучия. Cоставили список вещей, которые нужно поскорее отнести на мусорку.', '12564')
      li.grid-item.__w-3
       +card('"Это уже агония". Украину ждет новый раскол', 'lenta', '08.12.21 10:35', 'news/raskol.jpg', '', '«Все соперники у нас были уровня Лиги чемпионов. Хорошие команды, к матчам с которыми было непросто готовиться. Все по-разному играют.»', '12564')
      li.grid-item.__w-3
       +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/hakasii.jpg', '', '«Все соперники у нас были уровня Лиги чемпионов. Хорошие команды, к матчам с которыми было непросто готовиться. Все по-разному играют.»', '12564')
      li.grid-item.__w-3
       +card('Назван главный просчет США на Украине', 'lenta', '08.12.21 10:35', 'news/demen.jpg', '', '«Все соперники у нас были уровня Лиги чемпионов. Хорошие команды, к матчам с которыми было непросто готовиться. Все по-разному играют.»', '12564')

      +text_news()

    .section-title Политика
    ul.card-holder.__grid
      //-li.grid-sizer
      li.grid-item.__w-2.__h-2
       +card('Названа причина поражения Байдена на переговорах с Путиным', 'lenta', '08.12.21 10:35', 'news/politics_2.jpg', '', '', '12564')
      li.grid-item.__w-2.__h-2
       +card('Будущий канцлер Германии высказался о войсках у границ Украины', 'lenta', '08.12.21 10:35', 'news/politics_1.jpg', '', '', '12564')
      li.grid-item.__w-3
       +card('"Это уже агония". Украину ждет новый раскол', 'lenta', '08.12.21 10:35', 'news/politics_1.jpg', '', '', '12564')
      li.grid-item.__w-3
       +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/politics_1.jpg', '', '', '12564')
      li.grid-item.__w-3
       +card('Назван главный просчет США на Украине', 'lenta', '08.12.21 10:35', 'news/politics_1.jpg', '', '', '12564')

      +text_news()

    .section-title Общество
    ul.card-holder.__grid
      //-li.grid-sizer
      li.grid-item.__w-2.__h-2
       +card('Избавьтесь от этих привычек, чтобы держать уровень холестерина под контролем', 'lenta', '08.12.21 10:35', 'news/society_2.jpg', '', '', '12564')
      li.grid-item.__w-2.__h-2
       +card('Будущий канцлер Германии высказался о войсках у границ Украины', 'lenta', '08.12.21 10:35', 'news/society_1.jpg', '', '', '12564')
      li.grid-item.__w-3
       +card('"Это уже агония". Украину ждет новый раскол', 'lenta', '08.12.21 10:35', 'news/society_1.jpg', '', '', '12564')
      li.grid-item.__w-3
       +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/society_1.jpg', '', '', '12564')
      li.grid-item.__w-3
       +card('Назван главный просчет США на Украине', 'lenta', '08.12.21 10:35', 'news/society_1.jpg', '', '', '12564')

      +text_news()

  +partners_section()

  .section.__white.__content
    .section-title Шоу-бизнес
    ul.card-holder.__grid
      //-li.grid-sizer
      li.grid-item.__w-2.__h-2
        +card('Киркоров перестал скрывать мать своих детей', 'lenta', '08.12.21 10:35', 'news/show_biz_2.jpg', '', '', '12564')
      li.grid-item.__w-2.__h-2
        +card('Будущий канцлер Германии высказался о войсках у границ Украины', 'lenta', '08.12.21 10:35', 'news/show_biz_1.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('"Это уже агония". Украину ждет новый раскол', 'lenta', '08.12.21 10:35', 'news/show_biz_1.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/show_biz_1.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('Назван главный просчет США на Украине', 'lenta', '08.12.21 10:35', 'news/show_biz_1.jpg', '', '', '12564')

      +text_news()

    .section-title
      span Спорт
      a.section-title__link(href='#')
        span Больше новостей по теме
        +icon('back').btn-icon
    ul.card-holder.__grid
      //-li.grid-sizer
      li.grid-item.__w-2.__h-2
        +card('«Челси» и «Зенит» сыграли вничью в заключительном матче Лиги чемпионов', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
      li.grid-item.__w-2.__h-2
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('«Барселона» впервые за 16 лет не сыграет в плей-офф ЛЧ', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')

    .section-title
      span Коронавирус
      a.section-title__link(href='#')
        span Больше новостей по теме
        +icon('back').btn-icon
    ul.card-holder.__grid
      //-li.grid-sizer
      li.grid-item.__w-2.__h-2
        +card('В Роспотребнадзоре назвали симптомы заболевания «Омикроном»', 'lenta', '08.12.21 10:35', 'news/covid.jpg', '', '', '12564')
      li.grid-item.__w-2.__h-2
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/covid.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('«Барселона» впервые за 16 лет не сыграет в плей-офф ЛЧ', 'lenta', '08.12.21 10:35', 'news/covid.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/covid.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/covid.jpg', '', '', '12564')

    .section-title
      span Бизнес
      a.section-title__link(href='#')
        span Больше новостей по теме
        +icon('back').btn-icon
    ul.card-holder.__grid
      //-li.grid-sizer
      li.grid-item.__w-2.__h-2
        +card('В Роспотребнадзоре назвали симптомы заболевания «Омикроном»', 'lenta', '08.12.21 10:35', 'news/biz.jpg', '', '', '12564')
      li.grid-item.__w-2.__h-2
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/biz.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('«Барселона» впервые за 16 лет не сыграет в плей-офф ЛЧ', 'lenta', '08.12.21 10:35', 'news/biz.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/biz.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/biz.jpg', '', '', '12564')

    .section-title
      span Наука
      a.section-title__link(href='#')
        span Больше новостей по теме
        +icon('back').btn-icon
    ul.card-holder.__grid
      //-li.grid-sizer
      li.grid-item.__w-2.__h-2
        +card('В Роспотребнадзоре назвали симптомы заболевания «Омикроном»', 'lenta', '08.12.21 10:35', 'news/science.jpg', '', '', '12564')
      li.grid-item.__w-2.__h-2
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/science.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('«Барселона» впервые за 16 лет не сыграет в плей-офф ЛЧ', 'lenta', '08.12.21 10:35', 'news/science.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/science.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/science.jpg', '', '', '12564')

    .section-title Популярное за декабрь
    ul.card-holder.__grid
      //-li.grid-sizer
      li.grid-item.__w-2.__h-2
        +card('В Роспотребнадзоре назвали симптомы заболевания «Омикроном»', 'lenta', '08.12.21 10:35', 'news/pop.jpg', '', '', '12564')
      li.grid-item.__w-2.__h-2
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/pop.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('«Барселона» впервые за 16 лет не сыграет в плей-офф ЛЧ', 'lenta', '08.12.21 10:35', 'news/pop.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/pop.jpg', '', '', '12564')
      li.grid-item.__w-3
        +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/pop.jpg', '', '', '12564')

    .pagination
      a.btn.btn-page.__s-40.btn-white.__disable(href='#')
        +icon('arrow_l').btn-icon
      a.btn.btn-page.__s-40.btn-white.__active(href='#') 1
      a.btn.btn-page.__s-40.btn-white(href='#') 2
      a.btn.btn-page.__s-40.btn-white(href='#') 3
      a.btn.btn-page.__s-40.btn-white(href='#') 4
      a.btn.btn-page.__s-40.btn-white(href='#')
        +icon('arrow_r').btn-icon
