extends ./includes/email

block content
  tr.letter-content
    td(style='width:100%; padding:20px 25px; vertical-align:top; font-size:15px; line-height:1.2; font-family: Helvetica, sans-serif; color:#000')
      table(style='width:600px' width='600px' cellspacing='0' cellpadding='0' border='0')
        tbody
          tr
            td(style='vertical-align:middle; text-align:center;')
              .logo(style='padding: 8px 32px; background:#000; color:#fff; display:inline-block; font-weight: 700; font-size: 38px;line-height: 50px; font-family: "PT Serif", serif;') NOAM.RU

          tr
            td
              div(style='box-sizing:border-box;background-color:#fff;padding:30px;')
                div(style='letter-spacing: -.03em; font-weight: 700; line-height:35px; font-size:28px') Восстановление пароля
                div(style='font-size:15px; line-height:20px; color:#000; letter-spacing: .01em;')
                  p Вы получили это письмо, потому что запросили восстановление пароля на новостном портале noam.ru.
                  p Чтобы сбросить пароль, просто нажмите на кнопку ниже.
                  p Если вы не запрашивали сброс пароля, то просто проигнорируйте это письмо.

                div(style='padding:22px 0 64px;')
                  a(href='#' style='border-radius:5px; background-color:$red; text-decoration: none; padding:12px 40px; color:#fff; line-height:18px; font-size:15px; font-weight: 700; display:block; text-align: center;' target='_blank')
                    span Восстановить
                div(style='color:rgba(0,0,0,.65); font-family: "PT Serif"; font-weight: 700; font-size: 21px; line-height: 28px; text-align:center; padding-bottom: 12px;') NOAM.RU
                div(style='color:#646b7d; font-size:15px; text-align:center; padding-bottom:7px') noam.ru — Последние новости России и мира © 2022
