extends ./includes/layout

block variables
  - page_title = 'site map';
  - html_class = '';
  - footer_class = '';

block content
  .section.__white.__content
    .section-title.text-center
      span Карта сайта

    ul.site-map__categories
      - let n = 0;
      while n < 8
        - n++
        li: a(href='#')= 'Категория #' + n

    ul.site-map__links
      +loop_while(56)
        li: a(href='#') Ссылка умеренной длинны

    .pagination
      a.btn.btn-page.__s-40.btn-white.__disable(href='#')
        +icon('arrow_l').btn-icon
      a.btn.btn-page.__s-40.btn-white.__active(href='#') 1
      a.btn.btn-page.__s-40.btn-white(href='#') 2
      a.btn.btn-page.__s-40.btn-white(href='#') 3
      a.btn.btn-page.__s-40.btn-white(href='#') 4
      a.btn.btn-page.__s-40.btn-white(href='#')
        +icon('arrow_r').btn-icon
