extends ./includes/layout

block variables
  - page_title = 'site map';
  - html_class = '';
  - footer_class = '';

block content
  .section.__white.__content
    .section-title.text-center
      span Карта сайта

    ul.site-map__categories
      - let n = 0;
      while n < 8
        - n++
        li: a(href='#')= 'Категория #' + n

    ul.site-map__links
      +loop_while(56)
        li: a(href='#') Ссылка умеренной длинны

    +pagination()
