mixin img(fileName)
  - const url = `upload/${fileName}`
  - const url2x = url.replace(/(\.\w+$)/, '@2x$1')

  //-img(src=url srcset=`${url2x} 2x`)&attributes(attributes)
  img(src=url )&attributes(attributes)

mixin loop_while(counter)
  -i = 0;
  while i < counter
    -i++;
    block

mixin text_news()
  +loop_while(2)
    li.grid-item.__no-img.__w-2
      +card('Когда-то она побеждала Загитову и прыгала четверной, а потом исчезла. Возвращение Рики Кихиры после полутора лет без стартов', 'tass', '08.12.21 10:35', '', '', 'На Гран-при Канады в Миссиссаге важный камбэк – спустя полтора года на лед вернулась японка Рика Кихира. Еще три года назад Рика была главной соперницей для наших фигуристок: ее всерьез опасались, а порой она побеждала россиянок.', '12564')

    li.grid-item.__no-img.__w-2
      +card('В "Молдовагазе" заявили, что ежедневно платят "Газпрому"', 'zr', '08.12.21 10:35', '', '', 'На Гран-при Канады в Миссиссаге важный камбэк – спустя полтора года на лед вернулась японка Рика Кихира. Еще три года назад Рика была главной соперницей для наших фигуристок: ее всерьез опасались, а порой она побеждала россиянок.', '12564')
