//@font-face
//  font-family: 'Rouble Webfont'
//  src: url("../font/rouble-webfont.woff") format("woff")
//  font-weight: normal
//  font-style: normal


@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-Regular.woff2) format("woff2"),
    url(../font/Inter-Regular.woff) format("woff"),
    url(../font/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-Medium.woff2) format("woff2"),
    url(../font/Inter-Medium.woff) format("woff"),
    url(../font/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-SemiBold.woff2) format("woff2"),
    url(../font/Inter-SemiBold.woff) format("woff"),
    url(../font/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-Bold.woff2) format("woff2"),
    url(../font/Inter-Bold.woff) format("woff"),
    url(../font/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-ExtraBold.woff2) format("woff2"),
    url(../font/Inter-ExtraBold.woff) format("woff"),
    url(../font/Inter-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: 'PTSerif';
  src: url(../font/PTSerif-Regular.woff2) format("woff2"),
    url(../font/PTSerif-Regular.woff) format("woff"),
    url(../font/PTSerif-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'PTSerif';
  src: url(../font/PTSerif-Bold.woff2) format("woff2"),
    url(../font/PTSerif-Bold.woff) format("woff"),
    url(../font/PTSerif-Bold.ttf) format("truetype");
  font-weight: 700;
}
