@import '../../node_modules/rupture/rupture/index.styl'

$mob = 414px
$tab = 834px
$mob_menu = 834px
$dt = 980px
$wide = 1200px
$wide_1600 = 1200px
$menu_extra = 200px
$content_max_width = 1450px

$home_aside_width = 392px
$home_aside_width_1600 = 472px
$map_aside_width = 521px

rupture.scale = 0 $mob $tab $dt $wide
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'
rupture.mobile-cutoff = $tab
rupture.desktop-cutoff = $wide

$menu_bg_clr = #222 // rgba(255, 255, 255, .35)
$menu_bdr_clr = #323232 // rgba(255, 255, 255, .35)
$green = #68CC58
$red = #e41d1d
$gray = #b2b2b2
$blue = #0067B1
$fontInter = Inter, sans-serif
$fontPTSerif = 'PT Serif', serif

:root {
  --app-height 100vh
  --app-scroll-size 8px
  --app-outline-size 4px
  --app-page-overlay-offset 100px
  --app-width max($content_max_width, 100vw)
  --home-aside-width $home_aside_width
  --header-search-height 48px
  --header-mob-height 69px
  --header-mob-mapbtn-height 37px
  --header-tab-mapbtn-width 190px
  --map-aside-width 100%
  --map-tags-height 52px
  --map-article-offset 48px
  --map-aside-left 20px
  --map-aside-right 20px
  --map-button-offset 0px
  --menu-currency-height 0px
  --header-notification-btn-width var(--header-mob-height)
  --sat env(safe-area-inset-top)
  --sar env(safe-area-inset-right)
  --sab env(safe-area-inset-bottom)
  --sal env(safe-area-inset-left)
}

+above($tab)
  :root {
    --map-aside-left 24px
    --map-aside-width 377px
    --header-notification-btn-width 52px
  }
  .__no-map-btn:root {
    --map-button-offset 10px
  }

+above($wide)
  :root {
    --header-search-height 40px
    --map-aside-width $map_aside_width
  }

+above($content_max_width + $home_aside_width_1600)
  :root {
    --home-aside-width $home_aside_width_1600
  }
