@import '../../node_modules/rupture/rupture/index.styl'

$mob = 414px
$tab = 834px
$mob_menu = 834px
$dt = 980px
$wide = 1200px
$wide_1600 = 1200px
$menu_extra = 200px
$content_max_width = 1860px

$home_aside_width = 392px
$home_aside_width_1600 = 472px
$map_aside_width = 521px

rupture.scale = 0 $mob $tab $dt $wide
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'
rupture.mobile-cutoff = $tab
rupture.desktop-cutoff = $wide

$menu_bg_clr = #222 // rgba(255, 255, 255, .35)
$menu_bdr_clr = #323232 // rgba(255, 255, 255, .35)
$green = #68CC58
$red = #e41d1d
$gray = #b2b2b2
$blue = #0067B1
$fontInter = Inter, sans-serif
$fontPTSerif = 'PT Serif', serif
