@import '../../node_modules/rupture/rupture/index.styl'

$mob = 414px
$tab = 834px
$dt = 980px
$wide = 1200px
$menu_extra = 200px
$content_max_width = 1860px

$home_aside_width = 392px
$map_aside_width = 521px

rupture.scale = 0 $mob $tab $dt $wide
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'
rupture.mobile-cutoff = $tab
rupture.desktop-cutoff = $wide

$red = #e41d1d
$blue = #0067B1
$fontInter = Inter, sans-serif
$fontPTSerif = 'PT Serif', serif
