@import '../../node_modules/rupture/rupture/index.styl'

$mob = 370px
$tab = 834px
$dt = 980px
$wide = 1170px

rupture.scale = 0 $mob $tab $dt $wide
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'
rupture.mobile-cutoff = $tab
rupture.desktop-cutoff = $wide - 1


@require '~normalize.css'
@import '../../node_modules/magnific-popup/dist/magnific-popup.css'
@import '../../node_modules/select2/dist/css/select2.css'

@require 'other/mixins'
@require 'other/font'
@require 'blocks/global'
@require 'blocks/header'
@require 'blocks/home'
@require 'blocks/hero'
@require 'blocks/form'
@require 'blocks/buttons'
@require 'blocks/partners'
@require 'blocks/footer'
@require 'blocks/popup'
@require 'blocks/other'

