@import './other/variables'

@require '~normalize.css'
@import '../../node_modules/magnific-popup/dist/magnific-popup.css'
@import '../../node_modules/select2/dist/css/select2.css'

@require 'other/mixins'
@require 'blocks/global'
@require 'blocks/header'
@require 'blocks/home'
@require 'blocks/hero'
@require 'blocks/form'
@require 'blocks/buttons'
@require 'blocks/partners'
@require 'blocks/article'
@require 'blocks/feedback'
@require 'blocks/footer'
@require 'blocks/popup'
@require 'blocks/other'

