@import './other/variables'
@require 'other/mixins'
@import '../../src/leaflet/leaflet.css'
@import '../../src/Leaflet.markercluster-1.4.1/dist/MarkerCluster.css'
@import '../../src/Leaflet-MiniMap-master/dist/Control.MiniMap.min.css'

.map
  position absolute
  top 0
  bottom 0
  left 0
  right 0

  &-wrapper
    position relative
    height 100%
    width 100%

  //+below($tab - 1px)
  //  .__list-aside-open &
  //    background: #fff
  //
  //    .map
  //      opacity: 0

  &-holder
    position absolute
    top: calc(-1 * var(--map-tags-height))
    bottom 0
    left 0
    right 0
    display flex
    flex-flow row nowrap

    +below($tab - 1px)
      top var(--header-mob-height)
      position fixed
      display block

      .__map-aside.__map-aside-open &
        pointer-events none
        //z-index 1002

    +above($wide_1600)
      margin-right calc(-1 * var(--map-aside-width))

      .__map-aside &
        margin-right 0

    &__back
      position: absolute
      top: calc(var(--map-tags-height) + 20px)
      left: 20px
      z-index: 401

      +above($tab)
        display none

    &__aside
      position relative
      width var(--map-aside-width)
      flex 1 0 auto
      transition transform .3s

      +below($tab - 1px)
        //width 100%
        //height calc(var(--app-height))
        position absolute
        bottom 0
        left 0
        top 0
        transform none
        z-index 1002
        pointer-events none

        &::before
          content: ''
          position: absolute
          top: 0
          left: 0
          right: 0
          height: var(--map-tags-height)
          background: #222
          transition transform .3s, opacity .3s
          transform translateX(100%)

          .__show-map-2 &
            background: rgba(0, 0, 0, .75)

          .__map-aside .open_menu &
            background: rgba(0, 0, 0, .35)

          .__map-aside:not(.__show-map-2) .open_menu &
            background: #fff

          .__list-aside-open &
            transform translateX(0)

        .hero-aside

          &.hero-aside__context
            //transition none
            top calc(var(--map-tags-height))
            height calc(var(--app-height) - var(--map-tags-height) - var(--header-mob-height))

            .hero-aside__head-overlay
              pointer-events none

            //position absolute
            //top -50px
            //left -50px
            //right -50px
            //z-index 2
            //background rgba(0, 0, 0, .65)

            .__map-aside.__list-aside-open &
              //pointer-events none
              transform translateX(0)

            .__map-aside.__show-map-2 &
              //pointer-events none
              transform translateX(100%)

              .hero-aside__head-overlay
                height calc(var(--app-height) - var(--header-mob-height) + 50px)

          &.hero-aside__article
            z-index 1002
            top calc(var(--map-tags-height) + var(--map-article-offset))
            height calc(var(--app-height) - var(--header-mob-height) - var(--map-tags-height) - var(--map-article-offset))
            transform translateY(100%)

            .__map-aside.__mode-map-2 &
              top var(--map-tags-height)
              height calc(var(--app-height) - var(--header-mob-height) - var(--map-tags-height))

            .__map-aside.__article-aside-open &
            .__map-aside.__map-aside-open &
              transform translateY(0)

      .hero-aside
        custom_scroll(rgba(0, 0, 0, .25))
        display flex
        flex-flow column nowrap
        position: absolute
        z-index 1001
        bottom 0
        right 0
        transition transform .3s, opacity .3s
        padding 22px var(--map-aside-right) 28px var(--map-aside-left)
        width var(--map-aside-width)
        height var(--app-height)
        overflow-y auto
        pointer-events all

        +above($tab)
          position fixed

          &::before
            z-index: 2
            transition opacity .3s, height .3s
            content: ''
            position: absolute
            top calc(-1 * var(--app-page-overlay-offset))
            left: 0
            right: 0
            opacity 0
            height 0
            background rgba(0, 0, 0, .65)

          .open_autocomplete &
            pointer-events none

            &::before
              opacity: 1
              height calc(var(--app-height) + var(--app-page-overlay-offset) + var(--sat))

        +above($wide)
          padding-top: 28px

        .hero-aside__caption
          font-size 21px
          line-height 28px

        .hero-aside__head
          z-index 1
          position sticky
          top 0

          &::before
            content ''
            position absolute
            bottom 100%
            right: calc(-1 * var(--map-aside-right))
            left calc(-1 * var(--map-aside-left))
            background inherit
            height 28px

          &::after
            content ''
            position absolute
            bottom: 0
            top: 0
            right: calc(-1 * var(--map-aside-right))
            left calc(-1 * var(--map-aside-left))
            background inherit
            z-index: -1

  &-icon
    cursor pointer
    border-radius 100%
    background $blue
    position relative
    display flex
    align-items center
    justify-content center

    &::before
      content: ''
      position: absolute
      top: -6px
      bottom: -6px
      left: -6px
      right: -6px
      border-radius: 100%
      border: 6px solid rgba(0, 0, 0, 0.0)
      transition border-color .3s

    &:hover svg
      transform scale(1.3)

    svg
      transition transform .3s
      fill #fff
      max-width 16px
      max-height 16px

    &.__active
      &::before
        border-color: rgba(0, 0, 0, 0.25)

  .leaflet-control-zoom.leaflet-bar.leaflet-control
    filter drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15))
    border-radius 2px
    border 0

    a
      border-bottom-color #EBEBEB

  .leaflet-bottom .leaflet-control-minimap
    margin-bottom 12px
    filter drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15))
    border 3px solid #FFFFFF
    border-radius 4px
    box-shadow none

    .leaflet-interactive:first-child
      stroke #C01F1F
      fill #C01F1F

  .leaflet-right .leaflet-control
    margin-right 24px

  .marker-cluster
    svg path
      transition opacity .3s

    &:hover svg path
      opacity 1

  .marker-cluster-small
    svg
      path
        stroke $blue

      circle
        fill $blue

  .marker-cluster-medium
    svg
      path
        stroke #FFB800

      circle
        fill #FFB800

  .marker-cluster-large
    svg
      path
        stroke #A53A3A

      circle
        fill #A53A3A

  .marker-cluster
    background-clip padding-box

    border-radius
    div
      width 80px
      height 80px
      display flex
      align-items center
      position relative
      font-weight 600
      justify-content center
      font-size 14px
      line-height 17px
      color #ffffff

      span
        position relative
        z-index 201

      svg
        position absolute
        top 0
        left 0

