.article
  max-width 815px
  margin 0 auto
  position relative
  padding 1px 0 23px

  +above($tab)
    padding 10px 28px 23px

  +desktop()
    padding 17px 30px 23px

  .card-info
    padding 0 0 20px

    .card-views,
    .card-date
      margin-left auto

      + .card-views
        margin-left 15px

    > span
      margin-top 8px

  h1
    margin 25px 0 0
    font-family $fontPTSerif
    font-weight bold
    font-size 24px
    line-height 32px

    +above($tab)
      font-size 36px
      line-height 48px

    +above($dt)
      margin-top 40px

  p
    font-size 14px
    line-height 22px
    letter-spacing -0.02em
    margin 0 0 22px

    +above($tab)
      font-size 16px
      line-height 26px
      margin-bottom 26px

  &-image
    position relative
    overflow hidden
    margin 0 -12px 23px

    //+below($tab - 1px)
    //  min-height 188px
    //
    //  img
    //    img_center()
    //    height 100%

    img
      display block
      max-width 100%

    +above($tab)
      margin 0 -30px 33px

    +above($dt)
      &.__fit
        margin-left 0
        margin-right 0

  &-controls
    padding 5px 0 26px

    &.__info
      display flex
      justify-content flex-end
      align-items center

    &__icon
      width: 12px
      height: 11px
      margin-right 8px

    &__link
      font-weight 500
      font-size 12px
      line-height 15px
      text-align right
      text-decoration underline
      color #BBB

      &:hover
        color: $red


