.btn
  display inline-flex
  align-items center
  justify-content center
  transition color .3s, background .3s
  cursor: pointer

  &.__offset-8
    margin-top: 8px
    margin-bottom: -4px

  &.__s-28
    height: 28px

  &.__s-40
    height: 40px

  &.__s-45
    height: 45px

  &-map
    position: relative
    border-radius: 4px
    padding: 6px 12px
    display inline-flex
    align-items center
    font-size: 13px
    line-height: 16px
    color: #ffffff

    .icon-active
      display none

    &.__active
      background: $red

      .icon-inactive
        display none

      .icon-active
        display block

    .btn-icon
      width: 16px
      height: 16px
      margin-right: 8px

  &-hero
    font-weight: 700
    padding: 5px 63px
    margin-top: 16px

    .btn-icon
      width: 10px
      height: 10px
      margin-left: 11px

    +above($tab)
      margin-top: auto

  &-aside
    margin-bottom: 10px
    width: 100%

    .btn-icon
      width: 13px
      height: 11px
      margin-right: 11px

  &-page
    width: 40px
    border-radius: 3px

    .btn-icon
      width: 10px
      height: 10px

  &-auth
    width: 100%
    border: 0

    .btn-icon
      width: 17px
      height: 17px

      &:first-child
        margin-right: 9px

      &:last-child
        margin-left: 9px

  &-white
    background: #fff
    color: #000
    border: 1px solid #EBEBEB
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.02)

    &.__disable
      pointer-events none
      color: rgba(0, 0, 0, .25)

    &.__active
      cursor: default

    &.__active,
    &:hover
      background: #000
      color: #fff

  &-red
    background: $red
    color: #fff

    &:hover
      background: #ba0505

  &-black
    background: #000
    color: #fff

    &:hover
      background: #242424

.btn-icon
  fill: currentColor
