.footer
  background: #222
  display flex
  flex-flow column nowrap
  align-items center
  color: #fff
  text-align: center
  padding: 10px 0 40px

  &-socials
    padding-top: 30px

  &-copyright
    opacity: 0.65
    font-size: 14px
    line-height: 20px
    padding-top: 20px

    a
      color: #fff

      &:hover
        color: #E41D1D

  &-socials
    .social-list
      text-align: center

      li
        padding: 0 9px 8px
        display inline-block

    .social-link
      cursor: pointer
      display block

      svg
        width: 16px
        height: 16px
        fill: #fff
        transition fill .3s

      &:hover svg
        fill: #E41D1D

  .nav
    align-items center

    li
      padding: 0 15px

  +below($tab - 1px)
    padding-top: 2px

    .footer-copyright
      padding-top: 15px

    .footer-socials
      padding-top: 22px

    .footer-menu
      padding-top: 10px

      .nav-link
        padding: 14px 0

    .logo
      font-size: 36px
      line-height: 48px

