:root {
  --app-height 100%
  --map-aside-width $map_aside_width
  --home-aside-width $home_aside_width
  --header-search-height 48px
  --header-mob-height 69px
  --header-mob-mapbtn-height 37px
  --sat env(safe-area-inset-top)
  --sar env(safe-area-inset-right)
  --sab env(safe-area-inset-bottom)
  --sal env(safe-area-inset-left)
}

+above($wide + 400px)
  :root {
    --home-aside-width $home_aside_width_1600
  }

+above($wide)
  :root {
    --header-search-height 40px
  }

*
  box-sizing border-box

  &::before,
  &::after
    box-sizing border-box

ul
  list-style none
  padding 0
  margin 0

a
  text-decoration none
  transition color .3s

html
  margin-right 0 !important
  custom_scroll(rgba(0, 0, 0, .25))

body
  width 100vw
  overflow-x hidden
  position relative
  font 14px $fontInter
  background #222

  &.open_menu
    +below($tab - 1px)
      overflow hidden

  //&::after
  //  content ''
  //  position absolute
  //  top 0
  //  left 0
  //  right 0
  //  height 130px
  //  z-index -1
  //  pointer-events none
  //  background #222

  &::before
    position absolute
    top 0
    opacity 0
    content 'mobile'

  +above($tab)
    &::before
      content 'desktop'

.page
  min-height var(--app-height)
  display flex
  flex-flow column nowrap
  position: relative

  .__map-aside &
    overflow: hidden

  +below($tab - 1px)
    overflow: hidden

  &-overlay
    .__map-aside.__map-aside-open &
      +below($wide - 1px)
        position: absolute
        top: 0
        left: 0
        right: 0
        z-index: 1001
        height: var(--app-height)
        background: rgba(0, 0, 0, .65)

.content
  position relative
  flex 1 0 auto
  overflow hidden

  +below($tab - 1px)
    padding-top calc(var(--header-mob-height) + var(--header-mob-mapbtn-height))

.section
  position relative
  padding 0 20px
  margin 0 auto
  max-width $content_max_width

  &::after,
  &::before
    content ''
    position absolute
    width 50vw
    top 0
    bottom 0
    background inherit
    z-index: -1

  &::before
    left 50%

  &::after
    right 50%

  &.__content
    padding-top 40px
    padding-bottom 40px

    +desktop()
      padding-top 48px
      padding-bottom 48px

  &.__title
    padding-top 20px
    padding-bottom 20px

    +desktop()
      padding-top 16px
      padding-bottom 10px

  &.__black
    z-index 1
    background #222

    .section-title
      color #fff

    + .aside-holder
      +desktop()

        .hero-aside
          padding-top 20px

  &.__map
    z-index: 0
    position: relative
    height: 641px
    max-height 75vh

    +above($tab)
      height: 480px

    +desktop()
      height: 600px

  &.__white
    //background #E5E5E5
    background #F8F6F3

  &.__aside-space
    +desktop()
      margin-right 392px

  &.__article
    +desktop()
      max-width 1208px

      .section-title
        font-size 28px
        line-height 37px
        margin-bottom: 15px

  +above($tab)
    padding 0 30px

  &-border
    content: ''
    position: absolute
    height: 1px
    top: 0
    right: 0
    left: 0
    background: #E4E4E4

  &-title
    margin-bottom 12px
    font bold 24px / 32px $fontPTSerif
    color #000
    display flex
    align-items flex-end
    justify-content space-between

    &__link
      margin-bottom 5px
      font-size 16px
      line-height 21px
      color #000

      +above($tab)
        margin-bottom 10px

      svg
        width 10px
        height 10px
        margin-left 10px

      &:hover
        color $red

    +above($tab)
      font-size 28px
      line-height 37px
      margin-bottom 16px

      &.__partner
        font-size 36px
        line-height 48px

    +desktop()
      font-size 36px
      line-height 48px
      margin-bottom 24px

.nav
  display flex
  justify-content center

  .nav-link
    color #fff
    padding 10px 0
    position relative
    display flex

    &:hover
      color $red

  +below($mob_menu - 1px)
    flex-flow column

.mob-hide
  +below($tab - 1px)
    display none !important

.mob-only
  +above($tab)
    display none !important

.dt-hide
  +above($dt)
    display none !important

.dt-only
  +below($dt - 1px)
    display none !important

.wide-hide
  +above($wide)
    display none !important

.wide-only
  +below($wide - 1px)
    display none !important
