.header
  will-change transform
  transition background .3s, padding-right .3s
  position sticky
  top 0
  left 0
  width: 100vw
  z-index 1001
  background: #222

  +above($tab)
    top: calc(-1 * var(--header-search-height) - 8px)

  +below($wide - 1px)
    padding-top: 32px

  +below($tab - 1px)
    padding-top: 36px
    position: fixed

  +above($wide)
    .__map-aside &
      padding-right calc(var(--map-aside-width) - 24px)

  +above($wide_1600)
    .__page-aside &
      padding-right: var(--home-aside-width)

  &.__short
    padding-top: 0
    top: 0

    .currency-menu
      +below($wide_1600 - 1px)
        display none

    .header-inner
      padding-top: 0

  &:not(.__short)
    .currency-menu,
    .user-menu
      +below($dt - 1px)
        flex: 1 0 auto

  &-inner
    z-index: 1
    position: relative
    display grid
    align-items center
    justify-content space-between
    grid-template-columns 150px auto

    &::after
      top: var(--header-search-height)

    &::before
      bottom: 0

    &::after,
    &::before
      content: ''
      position: absolute
      height: 1px
      width: 100vw
      left: 50%
      transform translateX(-50%)
      background: $menu_bdr_clr

    +below($tab - 1px)
      height: var(--header-mob-height)

      &::after
        display none

    +above($tab)
      padding-bottom: 6px
      padding-top: calc(8px + var(--header-search-height))

    +above($wide)
      grid-template-columns 192px auto 200px

  &-map
    height: 46px
    position: relative
    padding: 8px 8px 8px 12px
    background: #363d3e

    &::after
      left: 100%

    &::before
      right: 100%

    &::before,
    &::after
      content: ''
      position: absolute
      width: 100vw
      top: 0
      bottom: 0
      background: inherit

    +above($tab)
      padding-left: 24px

    &__toggle
      position: relative
      float: right

      &-mob
        position: fixed
        top: 0
        right: -4px
        left: 0
        z-index: 1002

        .btn
          border-radius: 0
          width: 100%

        body.open_menu &
          right: 0

    &__scroller
      opacity: 0
      transition opacity .3
      padding: 4px 0 0
      margin-left: -20px
      margin-right: -20px
      width: calc(100% + 40px)
      position: relative
      //overflow: hidden

      .js-map-slider
        overflow: visible !important

      &.__loaded
        opacity: 1

      +above($tab)
        margin-left: -24px
        margin-right: -24px
        width: calc(100% + 48px)

      +above($wide)
        margin-right: 0
        width: calc(100% + 24px)

    .btn
      margin-right: 8px

  &-overlay
    position fixed
    top: calc(var(--header-mob-height) + var(--header-mob-mapbtn-height) - 1px)
    height var(--app-height)
    left 0
    right 0
    pointer-events none
    background #000
    opacity 0
    transition opacity .3s

    +above($tab)
      display none

    .open_menu &
      pointer-events all
      opacity .75

  &-search
    position: relative

    +above($dt)
      flex 1 0 auto

    &__input
      position: relative
      padding-left: 15px
      height: 100%

      input
        font-size: 12px
        color: #fff
        outline 0 !important
        border: 0 !important

        +below($tab - 1px)
          font-size: 13px

  &-menu
    +above($tab)
      margin-right: -10px

    +above($dt)
      margin: 0

    &__map
      position: relative
      display flex
      margin-right: -20px
      margin-bottom: -4px
      height: 60px

      +above($tab)
        margin-right: -30px
        align-items stretch
        justify-content space-between
        flex-fow row nowrap

      .__short &
        justify-content flex-end

    &__top
      position: relative
      display flex

      +above($tab)
        align-items stretch
        justify-content space-between
        flex-fow row nowrap
        position: absolute
        top: 0
        right: -24px
        left: -7px
        height: var(--header-search-height)

      .__short &
        justify-content flex-end

    //+above($dt)
    //  right: 0
    //  left: 0

    .__scroll &
      border-bottom-color transparent

    +below($mob_menu - 1px)
      transition transform .3s
      position fixed
      z-index 1
      left 100%
      top: calc(var(--header-mob-height) + var(--header-mob-mapbtn-height))
      //height calc(var(--app-height) - var(--header-mob-height) - var(--header-mob-mapbtn-height) + 1px)
      max-height calc(var(--app-height) - var(--header-mob-height) - var(--header-mob-mapbtn-height))
      width 100%
      max-width 450px
      background #222
      overflow-y auto
      border-top: 1px solid $menu_bdr_clr

      .header-menu__wrapper
        min-height 100%
        position: relative
        display flex
        flex-flow column
        align-items flex-start
        justify-content space-between
        padding calc(22px + var(--header-search-height)) 20px calc(34px + var(--header-search-height) * 3)

      .header-menu__top
        position: absolute
        top: 0
        bottom: 0
        left: 20px
        right: 20px
        display grid
        grid-template-areas "currency" "nav" "search" "user"
        grid-template-rows var(--header-search-height) auto var(--header-search-height) var(--header-search-height)

      .currency-menu
        grid-area currency
        border-bottom: 1px solid $menu_bdr_clr
        overflow-x: auto
        flex-wrap nowrap
        margin: 0 -20px
        padding: 0 20px

      .header-search
        grid-area search
        margin: 0 -20px
        border: 1px solid $menu_bdr_clr
        border-width: 1px 0
        padding-left: 10px

        .btn
          left: 10px

      .user-menu
        grid-area user
        margin: 0 -20px

        li
          width: 50%

          .header-menu__icon
            padding: 0 20px
            width: 100%
            font-size: 13px

          &:first-child
            border-left: 0

      .nav
        z-index: 1
        position: relative
        align-items flex-start
        width: 100%

        li
          width: 100%
          border-bottom: 1px solid $menu_bdr_clr

          &:last-child
            border-bottom: 0

        .active .nav-link
          font-weight bold

        .nav-link
          font-weight: 400
          font-size 14px
          line-height 21px
          padding: 10px 16px
          height: 52px
          display flex
          align-items center

      .open_menu &
        transform translateX(-100%)

    //+above($wide + $menu_extra)
    //  display grid
    //  grid-template-columns 1fr auto 1fr

    &__icon
      transition color .3s
      color #fff
      display flex
      align-items center
      flex-flow column

      svg
        fill rgba(178, 178, 178, 1)
        height 14px
        width 14px
        flex 1 0 auto
        opacity: .5
        transition opacity .3s, fill .3s

      +below($wide - 1px)
        flex-flow row
        justify-content center

        svg
          width 16px
          height 16px

      +below($tab - 1px)

        svg
          width 14px
          height 14px

      +above($wide)
        flex-flow row

  .currency-menu

    +above($tab)
      padding: 0 22px
      border-left: 1px solid $menu_bdr_clr

    +above($wide)
      padding: 0 30px

    li
      display flex
      padding-left 24px

      +above($tab)
        padding-left 17px

      +above($wide)
        padding-left 20px

      +above($wide + $menu_extra)
        padding-right 23px

      &:first-child
        padding-left: 0

  .currency-menu,
  .user-menu
    display flex
    align-items stretch
    font-size: 12px
    line-height: 15px

  .user-menu
    justify-content flex-end

    li
      display flex
      border-left: 1px solid $menu_bdr_clr

    .header-menu__icon
      cursor pointer
      padding: 0 23px
      min-width 60px

      +above($tab)
        padding 0 24px

      +above($wide)
        padding 0 32px

      span
        padding 0 0 0 10px

      &:hover
        color: #b2b2b2

        svg
          opacity: 1

    +above($wide)
      .__map-aside &
        margin-left: auto
        padding-right: 32px
        display flex

  .nav
    +above($tab)
      .nav-link
        font-size: 13px

    +above($wide)
      transition margin-right .3s
      //margin-right: 150px
      margin-bottom -1px

      .nav-link
        font-size: 14px
        //transition padding-bottom .3s, padding-top .3s
        padding-bottom 12px

    //.__scroll &
    //  margin-top -7px
    //  margin-right: 0

    +above($wide + $menu_extra)
      padding 0 10px

      .__scroll &

        .nav-link
          padding-top 22px
          padding-bottom 20px

    .nav-link
      transition color .3s, padding .3s
      padding-right 60px

      +above($mob_menu)
        padding-left 17px
        padding-right 16px

      +above($wide)
        padding-left 18px
        padding-right 18px

      &::before
        content ''
        position absolute
        bottom 0
        right 0
        left 0
        height 2px
        transition background .3s

//    li
//      +above($wide)
//        padding 0 5px
//
//        &:first-child
//          padding-left 0
//
//        &:last-child
//          padding-right 0
//
//      &.active
//        .nav-link
//          +above($wide)
//            font-weight 500
//
//          &::before
//            background $red

.logo-holder
  //transition padding .3s, margin-top .3s
  padding 24px 0 10px
  //text-align center
  //pointer-events none

  .header &
    padding-top: 10px

    +below($tab - 1px)
      padding 16px 0

  .__short.header &
    flex 1 0 auto
    padding-top: 12px

  .logo
    transition color .3s
    pointer-events all
    color #fff
    cursor pointer
    font-family $fontPTSerif
    font-style normal
    font-weight bold
    font-size 28px
    line-height 37px

    .header &
      //transition font-size .3s, line-height .3s, color .3s

      +above($wide)
        font-size 32px
        line-height 42px

      +above($wide + $menu_extra)
        transition color .3s

    //.__scroll .header &
    //  +below($wide - 1px)
    //    font-size 28px
    //    line-height 37px
    //    top: 0
    //
    //  +above($wide)
    //    float: left

    .__short.header &
      //font-size: 28px
      line-height: 37px
      //top: 0

      //+below($wide - 1px)
      //line-height: 37px
      //line-height: 50px

      //+below($tab - 1px)
      //  font-size 28px
      //  line-height 37px

    &:hover
      color $red

.burger
  burger()
  cursor pointer
  position fixed
  top 66px
  right 20px
  z-index 3
  min-width 30px
  margin-right 2px
  margin-left -8px
  width 30px
  transform scale(1.75)

  &::before
    content ''
    position absolute
    top -10px
    bottom -10px
    right 0
    left 0

  span
    pointer-events none
    margin-left 8px

  +below($wide - 1px)
    transition top .3s

  .open_menu &
    burger_open()

    span
      &:nth-of-type(1),
      &:nth-of-type(3)
        margin-left 12px

  +above($mob_menu)
    display none

.currency-name
  color: #B2B2B2
  font-weight: 500

.currency-value
  padding-left: 4px

.currency-trend
  position: relative
  padding-left: 18px

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 8px
    transform translateY(-50%)
    width: 0
    height: 0
    border-left: 3px solid transparent
    border-right: 3px solid transparent

  &.__up
    color: $green

    &::before
      border-bottom: 3px solid $green

  &.__down
    color: $red

    &::before
      border-top: 3px solid $red

