.header
  will-change transform
  transition background .3s, padding .3s
  position sticky
  top 0
  left 0
  width: 100vw
  z-index 1001
  //background: #323232

  +above($tab)
    top: calc(-1 * var(--header-search-height) - 8px)

  +below($wide - 1px)
    padding-top: 32px

  &-inner
    position: relative
    display grid
    align-items center
    justify-content space-between
    grid-template-columns 150px auto

    &::after
      top: var(--header-search-height)

    &::before
      bottom: 0

    &::after,
    &::before
      content: ''
      position: absolute
      height: 1px
      width: 100vw
      left: 50%
      transform translateX(-50%)
      background: rgba(255, 255, 255, .35)

    +above($tab)
      padding-top: calc(8px + var(--header-search-height))

    +above($wide)
      grid-template-columns 192px auto 200px

  //  +below($tab - 1px)
  //    position fixed
  //
  //  +above($tab)
  //    background rgba(34, 34, 34, 0.95)
  //
  //    &.__short
  //      .nav
  //        display none
  //
  //  +above($wide)
  //    .__map-aside &
  //      overflow: hidden
  //      padding-right calc(var(--map-aside-width) - 24px)
  //
  //  &.__short
  //    background: #222 !important
  //
  //    +below($wide + 220px)
  //      .header-menu
  //        .currency-menu
  //          display none
  //
  //    +above($tab)
  //      .header-menu
  //        transition padding .3s
  //        flex 1 0 auto
  //        padding-left: 48px
  //        margin-left: auto
  //        display flex
  //        justify-content space-between
  //        flex-flow row nowrap
  //        height: 46px
  //        overflow: hidden

  //.user-menu,
  //.currency-menu
  //  opacity: 1
  //  visibility: visible
  //  pointer-events: all
  //  position: relative
  //  bottom: unset
  //  right: unset
  //  left: unset
  //  margin-bottom: 0
  //  transform: none !important
  //
  //+below($tab - 1px)
  //  .currency-menu
  //    display none !important
  //
  //  .user-menu
  //    margin-left: auto

  .__scroll &
    background rgba(34, 34, 34, 0.95)

  &-map
    height: 46px
    position: relative
    padding: 8px 8px 8px 12px
    background: #363d3e

    &::after
      left: 100%

    &::before
      right: 100%

    &::before,
    &::after
      content: ''
      position: absolute
      width: 100vw
      top: 0
      bottom: 0
      background: inherit

    +above($tab)
      padding-left: 24px

    &__toggle
      position: relative
      float: right

      &-mob
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 1002

        .btn
          border-radius: 0
          width: 100%

    &__scroller
      opacity: 0
      transition opacity .3
      padding: 4px 0 0
      margin-left: -20px
      margin-right: -20px
      width: calc(100% + 40px)
      position: relative
      //overflow: hidden

      .js-map-slider
        overflow: visible !important

      &.__loaded
        opacity: 1

      +above($tab)
        margin-left: -24px
        margin-right: -24px
        width: calc(100% + 48px)

      +above($wide)
        margin-right: 0
        width: calc(100% + 24px)

    .btn
      margin-right: 8px

  &-overlay
    position fixed
    top 0
    height var(--app-height)
    left 0
    right 0
    pointer-events none
    background #000
    opacity 0
    transition opacity .3s

    +above($tab)
      display none

    .open_menu &
      pointer-events all
      opacity .5

  //  .logo-holder
  //    position relative
  //    z-index 3
  //
  //    .__scroll &
  //      padding 15px 0
  //
  //      +above($wide + $menu_extra)
  //        margin-top: -56px
  //
  //        .logo
  //          position relative
  //          top 54px
  //          left -100%
  //          margin-left 100%
  //          transition color .3s
  //          font-size 28px
  //          line-height 37px
  //
  //    +below($tab - 1px)
  //      padding-top 24px
  //      transition padding .3s
  //
  //      &::before
  //        content ''
  //        position absolute
  //        top 0
  //        bottom 0
  //        right -20px
  //        left -20px
  //        z-index -1
  //        transition background .3s
  //
  //        .open_menu &
  //          background #191919

  &-search
    +above($dt)
      flex 1 0 auto

    &__input
      position: relative
      padding-left: 15px
      height: 100%

      input
        font-size: 12px
        color: #fff
        outline 0 !important
        border: 0 !important

        +below($tab - 1px)
          font-size: 13px

  &-menu
    +above($tab)
      margin-right: -10px

    +above($dt)
      margin: 0

    &__top
      position: relative
      display flex

      +above($tab)
        align-items stretch
        justify-content space-between
        flex-fow row nowrap
        position: absolute
        top: 0
        right: -24px
        left: -10px
        height: var(--header-search-height)

      +above($dt)
        right: 0
        left: 0

    .__scroll &
      border-bottom-color transparent

    +below($mob_menu - 1px)
      transition transform .3s
      position fixed
      z-index 1
      left 100%
      top 0
      height var(--app-height)
      width 350px
      max-width 95vw
      padding 108px 40px 26px
      background #191919
      display flex
      flex-flow column
      align-items flex-start
      justify-content space-between
      overflow-y auto

      .nav
        align-items flex-start

        li
          margin-bottom 12px

        .active .nav-link
          font-weight bold

        .nav-link
          font-weight: 400
          font-size 14px
          line-height 21px
          padding-bottom 14px

      .open_menu &
        transform translateX(-100%)

    //+above($wide + $menu_extra)
    //  display grid
    //  grid-template-columns 1fr auto 1fr

    &__icon
      transition color .3s
      color #fff
      display flex
      align-items center
      flex-flow column

      svg
        fill #B2B2B2
        height 14px
        width 12px

      +below($wide - 1px)
        flex-flow row

        //span
        //  padding 0 0 0 15px
        //  font-size 16px
        //  line-height 21px

        svg
          width 16px
          height 16px

      +above($wide)
        flex-flow row

    .currency-menu

      +above($tab)
        padding: 0 22px
        border-left: 1px solid rgba(255, 255, 255, .35)

      +above($wide)
        padding: 0 30px

      li
        display flex
        padding-left 22px

        +above($tab)
          padding-left 17px

        +above($wide)
          padding-left 20px

        +above($wide + $menu_extra)
          padding-right 23px

        &:first-child
          padding-left: 0

      +above($wide + $menu_extra)
        transition opacity .3s

        .__scroll &
          opacity 0
          visibility hidden
          pointer-events none

    .currency-menu,
    .user-menu
      display flex
      align-items stretch
      font-size: 12px
      line-height: 15px

      +below($dt - 1px)
        flex: 1 0 auto

    .user-menu
      justify-content flex-end

      li
        display flex
        border-left: 1px solid rgba(255, 255, 255, .35)

      .header-menu__icon
        cursor pointer

        span
          padding 0 0 0 10px

        &:hover
          color: $red

          svg
            fill currentColor

      //+above($wide)
      //  right 0
      //  min-width 205px
      //  justify-content space-between

      //+above($wide + $menu_extra)
      //  min-width unset
      //  justify-content flex-end
      //
      //  .__scroll &
      //    display none

      li
        padding 0 20px

        +above($tab)
          padding 0 24px

        +above($wide)
          padding 0 32px

    .user-menu
      +above($wide)
        .__map-aside &
          margin-left: auto
          padding-right: 32px
          display flex

          li
            padding-left: 22px

  .nav

    +above($tab)
      .nav-link
        font-size: 13px

    +above($wide)
      transition margin-right .3s
      //margin-right: 150px
      margin-bottom -1px

      .nav-link
        font-size: 14px
        //transition padding-bottom .3s, padding-top .3s
        padding-bottom 12px

    //.__scroll &
    //  margin-top -7px
    //  margin-right: 0

    +above($wide + $menu_extra)
      padding 0 10px

      .__scroll &
        //margin-top 0

        .nav-link
          padding-top 22px
          padding-bottom 20px

    .nav-link
      transition color .3s, padding .3s
      padding-right 60px

      +above($mob_menu)
        padding-left 17px
        padding-right 16px

      +above($wide)
        padding-left 18px
        padding-right 18px

      &::before
        content ''
        position absolute
        bottom 0
        right 0
        left 0
        height 2px
        transition background .3s

    //    li
    //      +above($wide)
    //        padding 0 5px
    //
    //        &:first-child
    //          padding-left 0
    //
    //        &:last-child
    //          padding-right 0
    //
    //      &.active
    //        .nav-link
    //          +above($wide)
    //            font-weight 500
    //
    //          &::before
    //            background $red

.logo-holder
  transition padding .3s, margin-top .3s
  padding 24px 0 10px
  //text-align center
  pointer-events none

  .header &
    padding-top: 10px

  .__short.header &
    margin-top: 0
    padding: 6px 0

    +below($tab - 1px)
      padding: 6px 0

    .logo
      float: left

  .logo
    transition color .3s
    pointer-events all
    color #fff
    cursor pointer
    font-family $fontPTSerif
    font-style normal
    font-weight bold
    font-size 28px
    line-height 37px

    .header &
      //transition font-size .3s, line-height .3s, color .3s

      +above($wide)
        font-size 32px
        line-height 42px

      +above($wide + $menu_extra)
        transition color .3s

    .__scroll .header &
      +below($wide - 1px)
        font-size 28px
        line-height 37px
        top: 0

      +above($wide)
        float: left

    .__short.header &
      font-size: 24px
      line-height: 37px
      top: 0

      //+below($wide - 1px)
      //line-height: 37px
      //line-height: 50px

      +below($tab - 1px)
        font-size 28px
        line-height 37px

    &:hover
      color $red

.burger
  burger()
  cursor pointer
  position fixed
  top 47px
  right 24px
  z-index 3
  min-width 30px
  margin-right 2px
  margin-left -8px
  width 30px
  transform scale(1.75)

  &::before
    content ''
    position absolute
    top -10px
    bottom -10px
    right 0
    left 0

  span
    pointer-events none
    margin-left 8px

  +below($wide - 1px)
    transition top .3s

    .__scroll &
      top 24px

  .open_menu &
    burger_open()

    span
      &:nth-of-type(1),
      &:nth-of-type(3)
        margin-left 12px

  +above($mob_menu)
    display none

.currency-name
  color: #B2B2B2
  font-weight: 500


.currency-value
  padding-left: 4px

.currency-trend
  position: relative
  padding-left: 18px

  &::before
    content: ''
    position: absolute
    top: 50%
    left: 8px
    transform translateY(-50%)
    width: 0
    height: 0
    border-left: 3px solid transparent
    border-right: 3px solid transparent

  &.__up
    color: $green

    &::before
      border-bottom: 3px solid $green

  &.__down
    color: $red

    &::before
      border-top: 3px solid $red

