.header
  will-change transform
  transition background .3s, padding .3s
  position sticky
  top 0
  left 0
  width: 100vw
  z-index 1001

  +below($tab - 1px)
    position fixed

  +above($tab)
    background rgba(34, 34, 34, 0.95)

    &.__short
      .nav
        display none

  +above($wide)
    .__map-aside &
      padding-right calc(var(--map-aside-width) - 24px)

  &.__short
    +above($wide)
      .header-menu
        flex 1 0 auto
        padding-left: 48px
        padding-right: 24px
        margin-left: auto
        display flex
        justify-content space-between
        flex-flow row nowrap

        .user-menu,
        .currency-menu
          opacity: 1
          visibility: visible
          pointer-events: all
          position: relative
          bottom: unset
          right: unset
          left: unset
          margin-bottom: 0
          transform: none !important

        +below($tab - 1px)
          .currency-menu
            display none !important

          .user-menu
            margin-left: auto

      .section
        display: flex
        flex-flow: row wrap
        justify-content: space-between

    +above($tab)
      .section
        padding: 0 24px

  .__scroll &
    background rgba(34, 34, 34, 0.95)

  &-map
    height: 46px
    position: relative
    padding: 8px 8px 8px 20px
    background: #363d3e

    &::after
      left: 100%

    &::before
      right: 100%

    &::before,
    &::after
      content: ''
      position: absolute
      width: 100vw
      top: 0
      bottom: 0
      background: inherit

    +above($tab)
      padding-left: 24px

    &__scroller
      opacity: 0
      transition opacity .3
      padding: 4px 0 0
      margin-left: -20px
      margin-right: -20px
      width: calc(100% + 40px)
      position: relative
      overflow: hidden

      &.__loaded
        opacity: 1

      +above($tab)
        margin-left: -24px
        margin-right: -24px
        width: calc(100% + 48px)

      +above($wide)
        margin-right: 0
        width: calc(100% + 24px)

    .btn
      margin-right: 8px

  &-overlay
    position fixed
    top 0
    height var(--app-height)
    left 0
    right 0
    pointer-events none
    background #000
    opacity 0
    transition opacity .3s

    +above($tab)
      display none

    .open_menu &
      pointer-events all
      opacity .5

  .logo-holder
    position relative
    z-index 3

    .__scroll &
      padding 5px 0

      +above($wide + $menu_extra)
        margin-top: -47px

        .logo
          position relative
          top 54px
          left -100%
          margin-left 100%
          transition color .3s
          font-size 28px
          line-height 37px

    +below($tab - 1px)
      padding-top 24px
      transition padding .3s

      &::before
        content ''
        position absolute
        top 0
        bottom 0
        right -20px
        left -20px
        z-index -1
        transition background .3s

        .open_menu &
          background #191919

  &-menu
    border-bottom 1px solid rgba(255, 255, 255, .35)
    align-items center
    position relative

    .__scroll &
      border-bottom-color transparent

    +below($tab - 1px)
      transition transform .3s
      position fixed
      z-index 1
      left 100%
      top 0
      height var(--app-height)
      width 350px
      max-width 95vw
      padding 108px 40px 26px
      background #191919
      display flex
      flex-flow column
      align-items flex-start
      justify-content space-between
      overflow-y auto

      .nav
        align-items flex-start

        li
          margin-bottom 12px

        .active .nav-link
          font-weight bold

        .nav-link
          font-size 16px
          line-height 21px
          padding-bottom 14px

      .open_menu &
        transform translateX(-100%)

    +above($wide + $menu_extra)
      display grid
      grid-template-columns 1fr auto 1fr

    &__icon
      transition color .3s
      color #fff
      display flex
      align-items center
      flex-flow column

      span
        padding 10px 0 0
        line-height 1

      svg
        fill currentColor
        height 14px
        width 12px

      +below($tab - 1px)
        flex-flow row

        span
          padding 0 0 0 15px
          font-size 16px
          line-height 21px

        svg
          width 18px
          height 18px

      +above($tab)
        flex-flow row

        span
          padding 0 0 0 14px

    .currency-menu
      display none

      li
        padding-right 19px

        +above($wide + $menu_extra)
          padding-right 23px

      +above($tab)
        left 0

      +above($wide + $menu_extra)
        transition opacity .3s

        .__scroll &
          opacity 0
          visibility hidden
          pointer-events none

    .user-menu
      justify-content flex-end

      .header-menu__icon
        cursor pointer

        &:hover
          color: $red

      +below($tab - 1px)
        li
          padding 30px 0 0

      +above($tab)
        right 0
        min-width 205px
        justify-content space-between

      +above($wide + $menu_extra)
        min-width unset
        justify-content flex-end

      li
        padding-left 3px

        +above($tab)
          padding-left 20px

        +above($wide + $menu_extra)
          padding-left 44px

    .currency-menu,
    .user-menu
      +above($tab)
        transition transform .3s
        display flex
        position absolute
        bottom 100%
        margin-bottom 32px

        .__scroll &
          transform translateY(16px)

      +above($wide + $menu_extra)
        position relative
        bottom unset
        right unset
        left unset
        margin-bottom 0
        transform none !important

        .__scroll &
          margin-bottom: -5px

  .nav
    +above($tab)
      margin-bottom -1px

      .nav-link
        //transition padding-bottom .3s, padding-top .3s
        padding-bottom 12px

      .__scroll &
        margin-top -7px

    +above($wide + $menu_extra)
      padding 0 10px

      .__scroll &
        margin-top 0

        .nav-link
          padding-top 22px
          padding-bottom 20px

    .nav-link
      transition color .3s, padding .3s
      padding-right 60px

      +above($tab)
        padding-left 20px
        padding-right 20px

      &::before
        content ''
        position absolute
        bottom 0
        right 0
        left 0
        height 2px
        transition background .3s

    li
      +above($tab)
        padding 0 5px

        &:first-child
          padding-left 0

        &:last-child
          padding-right 0

      &.active
        .nav-link
          +above($tab)
            font-weight 500

          &::before
            background $red

.logo-holder
  transition padding .3s, margin-top .3s
  padding 24px 0 10px
  text-align center
  pointer-events none

  .__short.header &
    margin-top: 0
    padding: 6px 0

  .logo
    transition color .3s
    pointer-events all
    color #fff
    cursor pointer
    font-family $fontPTSerif
    font-style normal
    font-weight bold
    font-size 42px
    line-height 56px

    .header &
      transition font-size .3s, line-height .3s, color .3s

      +above($wide + $menu_extra)
        transition color .3s

    .__scroll .header &
      +below($wide - 1px)
        font-size 28px
        line-height 37px
        top: 0

    .__short.header &
      font-size: 24px
      line-height: 37px
      top: 0

      //+below($wide - 1px)
      //line-height: 37px
      //line-height: 50px

      +below($tab - 1px)
        font-size 28px
        line-height 50px

    &:hover
      color $red

.burger
  burger()
  cursor pointer
  position fixed
  top 47px
  right 24px
  z-index 3
  min-width 30px
  margin-right 2px
  margin-left -8px
  width 30px
  transform scale(1.75)

  &::before
    content ''
    position absolute
    top -10px
    bottom -10px
    right 0
    left 0

  span
    pointer-events none
    margin-left 8px

  +below($wide - 1px)
    transition top .3s

    .__scroll &
      top 24px

  .open_menu &
    burger_open()

    span
      &:nth-of-type(1),
      &:nth-of-type(3)
        margin-left 12px

  +above($tab)
    display none
