.header
  position: relative
  transition background .3s

  +below($tab - 1px)
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 3

    .__scroll &
      background: rgba(34, 34, 34, .35)

  .logo-holder
    position: relative
    z-index: 3

    +below($wide - 1px)
      padding-top: 24px
      transition padding .3s

      .__scroll &
        padding: 5px 0

      &::before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        right: -20px
        left: -20px
        z-index: -1
        transition background .3s

        .open_menu &
          background: #191919

  &-menu
    border-bottom: 1px solid rgba(255, 255, 255, .35)
    align-items center
    position: relative

    +below($tab - 1px)
      transition transform .3s
      position: fixed
      z-index: 1
      left: 100%
      top: 0
      bottom: 0
      width: 350px
      max-width 95vw
      padding: 154px 40px 64px
      background: #191919
      display flex
      flex-flow column
      align-items: flex-start
      justify-content: space-between
      overflow-y: auto

      .nav
        align-items flex-start

        li
          margin-bottom: 12px

        .nav-link
          font-weight: bold
          font-size: 16px
          line-height: 21px
          padding-bottom: 14px

      .open_menu &
        transform translateX(-100%)

    +above($wide)
      display grid
      grid-template-columns 1fr auto 1fr

    &__icon
      color: #fff
      display flex
      align-items center
      flex-flow column

      span
        padding: 10px 0 0
        line-height: 1

      svg
        fill: #fff
        height: 14px
        width: 12px

      +below($tab - 1px)
        flex-flow row

        span
          padding: 0 0 0 20px
          font-size: 16px
          line-height: 21px

        svg
          width: 18px
          height: 18px

      +above($wide)
        flex-flow row

        span
          padding: 0 0 0 10px

    .currency-menu
      display none

      li
        padding-right: 20px

        +above($wide)
          padding-right: 23px

      +above($tab)
        left: 0

    .user-menu
      justify-content flex-end

      .header-menu__icon
        cursor: pointer

      +below($tab - 1px)
        li
          padding: 30px 0 0

      +above($tab)
        right: 0

      li
        padding-left: 20px

        +above($wide)
          padding-left: 48px

    .currency-menu,
    .user-menu
      +above($tab)
        display flex
        position: absolute
        bottom: 100%
        margin-bottom: 18px

      +above($wide)
        position: relative
        bottom: unset
        right: unset
        left: unset
        margin-bottom: 0

  .nav
    +above($tab)
      margin-bottom: -1px

    +above($wide)
      padding: 0 10px

    .nav-link
      padding-right: 60px

      +above($tab)
        padding-left: 20px
        padding-right: 20px

      &::before
        content: ''
        position: absolute
        bottom: 0
        right: 0
        left: 0
        height: 2px
        transition background .3s

    li
      +above($tab)
        padding: 0 5px

        &:first-child
          padding-left: 0

        &:last-child
          padding-right: 0

      &.active
        .nav-link::before
          background: #E41D1D

.logo-holder
  padding: 30px 0 10px
  text-align: center
  pointer-events none

  .logo
    pointer-events all
    color: #fff
    cursor: pointer
    font-family: 'PTSerif'
    font-style: normal
    font-weight: bold
    font-size: 42px
    line-height: 56px

    &:hover
      color: #E41D1D

.burger
  burger()

  cursor: pointer
  position: fixed
  top: 47px
  right: 24px
  z-index: 3
  min-width: 30px
  margin-right: 2px
  margin-left: -8px
  width: 30px
  transform: scale(1.75)

  &::before
    content: ''
    position: absolute
    top: -10px
    bottom: -10px
    right: 0
    left: 0

  span
    pointer-events none
    margin-left: 8px

  +below($wide - 1px)
    transition top .3s

    .__scroll &
      top: 30px

  .open_menu &
    burger_open()

    span
      &:nth-of-type(1),
      &:nth-of-type(3)
        margin-left: 12px

  +above($tab)
    display none
