.header
  will-change transform
  transition background .3s, padding-right .3s
  position sticky
  top 0
  left 0
  width 100vw
  z-index 1001
  background #222

  .__page-aside &
    +below($wide + $menu_extra * 2 - 1px)
      padding-top: 32px

  +above($tab)
    top calc(-1 * var(--header-search-height) - 8px)

  +below($tab - 1px)
    padding-top 0 !important
    position fixed

  +above($tab)
    .__map-aside &
      padding-right calc(var(--map-aside-width))

  .__page-aside &
    +between($wide, $wide + $menu_extra * 2 - 1px)
      .user-menu
        li .header-menu__icon
          padding: 0 25px

    +above($wide_1600)
      padding-right var(--home-aside-width)

  &.__short
    padding-top 0
    top 0
    background none
    transition none

    +below($wide - 1px)
      .section
        padding 0 20px

    +below($tab - 1px)
      .__map-aside.__map-aside-open &
        z-index 1003

    .currency-menu
      +below($wide - 1px)
        display none

    .header-inner
      padding-top 0

    .logo-holder
      flex 1 0 auto
      padding-top 12px

      +above($tab)

        .logo
          font-size 24px
          line-height 32px

    .currency-menu
      padding 0 16px 0 0

    .user-menu

      .header-menu__icon
        +below($wide - 1px)
          padding 0 32px
          position relative
          //font-size 13px

          &.__active
            cursor default

            &::before
              content ''
              position absolute
              bottom 0
              right 0
              left 0
              height 2px
              background $red

        +below($tab - 1px)
          padding 0 22px

  &:not(.__short)
    .currency-menu
      +between($wide, $wide + $menu_extra * 2 - 1px)
        padding: 0 10px

        li
          padding: 0 15px

      +between($tab, $wide + $menu_extra - 1px)
        display none

    .currency-menu,
    .user-menu
      +below($dt - 1px)
        flex 1 0 auto

  &-inner
    z-index 1
    position relative
    display grid
    align-items stretch
    justify-content space-between
    grid-template-columns 150px auto

    &::after
      top var(--header-search-height)

    &::before
      bottom 0

    &::after,
    &::before
      content ''
      position absolute
      height 1px
      width 100vw
      left 50%
      transform translateX(-50%)
      background $menu_bdr_clr

    +below($tab - 1px)
      height var(--header-mob-height)

      &::after
        display none

    +above($tab)
      padding-bottom 6px
      padding-top calc(8px + var(--header-search-height))

      //&::before
      //  display none

      .header-menu__wrapper
        height 100%
        display flex
        align-items stretch

    +above($wide)
      grid-template-columns 192px auto

      &::before
        display block

    +above($wide + $menu_extra * 2)
      &.__center
        grid-template-columns 192px auto 192px

        .header-menu
          margin: 0

  &-map
    height var(--map-tags-height)
    position relative
    padding 11px 8px 8px 12px
    //background #363d3e
    //background rgba(34, 34, 34, 0.75)

    &::after
      left 100%

    &::before
      right 100%

    &::before,
    &::after
      content ''
      position absolute
      width 100vw
      top 0
      bottom 0
      background inherit

    +above($tab)
      padding-left 24px

    &__toggle
      position relative

      &-all
        display flex
        align-items center
        justify-content flex-end

        +below($tab - 1px)
          position absolute
          left 0
          right 0
          bottom 100%

          .header-map__toggle
            width 100%

            .btn
              width 100%
              height var(--header-mob-mapbtn-height)
              font-size 14px
              line-height 21px

              .btn-icon
                width 20px
                height 20px

        +above($tab)
          display none

        +above($wide + $menu_extra * 2)
          display flex
          position absolute
          right 0
          bottom 6px
          height 62px

      &-mob
        position fixed
        top 0
        right calc(-1 * var(--app-scroll-size))
        left 0
        z-index 1002
        display none

        +above($tab)
          display block

        +above($wide)
          display none

        +between($wide, $wide + $menu_extra * 2 - 1px)
          .__page-aside &
            display block
            padding-right: var(--home-aside-width)

          .btn.__s-33
            height: 31px

        .btn
          border-radius 0
          width 100%

        .__open-popup &,
        body.open_menu &
          right 0

    &__scroller
      opacity 0
      transition opacity .3
      //padding 4px 0 0
      margin-left -20px
      margin-right -20px
      margin-top -1px
      padding-top 1px
      width calc(100% + 40px)
      position relative
      //overflow hidden

      .js-map-slider
        overflow visible !important

      &.__loaded
        opacity 1

      //+above($tab)
      //  margin-left -24px
      //  margin-right -24px
      //  width calc(100% + 48px)

      +above($wide)
        margin-left -24px
        //margin-right -24px
        width calc(100% + 48px)
        margin-right 0
        //width calc(100% + 24px)

    .btn
      margin-right 8px

  &-overlay
    position fixed
    top calc(var(--header-mob-height) - 1px)
    height var(--app-height)
    left 0
    right 0
    pointer-events none
    background #000
    opacity 0
    transition opacity .3s

    +above($tab)
      display none

    .open_menu &
      pointer-events all
      opacity .75

  &-search
    position relative

    +above($dt)
      flex 1 0 auto

    &__input
      position relative
      padding-left 15px
      height 100%

      input
        placeholder_color(rgba(255, 255, 255, .5))
        font-size 12px
        color #fff
        outline 0 !important
        border 0 !important

        +below($tab - 1px)
          font-size 13px

  &-menu
    +above($tab)
      margin-right -10px

    +above($dt)
      margin 0

    +between($wide, $wide + $menu_extra * 2 - 1px)
      .__page-aside &
        margin-right: -10px

    +above($wide + $menu_extra * 2)
      margin 0 200px 0 0

    &__map
      position relative
      display flex
      margin-right -20px
      //margin-bottom -4px
      height 60px

      +above($tab)
        align-items stretch
        justify-content space-between
        flex-fow row nowrap

      +above($wide)
        margin-right -30px

      .__short &
        justify-content flex-end

    &__top
      position relative
      display flex

      +above($tab)
        align-items stretch
        justify-content space-between
        flex-fow row nowrap
        position absolute
        top 0
        right -26px
        left -7px
        height var(--header-search-height)

      .__short &
        justify-content flex-end

    //+above($dt)
    //  right 0
    //  left 0

    .__scroll &
      border-bottom-color transparent

    +below($mob_menu - 1px)
      transition transform .3s, opacity .15s .1s
      position fixed
      z-index 1
      right 0
      opacity 0
      pointer-events none
      transform translateY(calc(-100% - var(--header-mob-height)))
      top calc(var(--header-mob-height))
      //height calc(var(--app-height) - var(--header-mob-height) - var(--header-mob-mapbtn-height) + 1px)
      max-height calc(var(--app-height) - var(--header-mob-height))
      width 100%
      max-width 450px
      background #222
      overflow-y auto
      //border-top 1px solid $menu_bdr_clr

      .header-menu__wrapper
        min-height 100%
        position relative
        display flex
        flex-flow column
        align-items flex-start
        justify-content space-between
        padding calc(22px + var(--menu-currency-height)) 20px calc(34px + var(--header-search-height) * 2)
        margin-top var(--header-mob-mapbtn-height)

      .header-menu__top
        position absolute
        top 0
        bottom 0
        left 20px
        right 20px
        display grid
        grid-template-areas "currency" "nav" "search" "user";
        grid-template-rows var(--menu-currency-height) auto var(--header-search-height) var(--header-search-height);

      .currency-menu
        height var(--header-search-height)
        grid-area currency
        border-bottom 1px solid $menu_bdr_clr
        overflow-x auto
        flex-wrap nowrap
        margin 0 -20px
        padding 0 20px
        hidden_scroll()

      .header-search
        grid-area search
        margin 0 -20px
        border 1px solid $menu_bdr_clr
        border-width 1px 0
        padding-left 10px
        position sticky
        z-index 1
        background #222
        bottom var(--header-search-height)

        .btn
          left 10px

      .user-menu
        grid-area user
        position sticky
        bottom 0
        margin 0 -20px
        z-index 1
        background #222

        li
          width 50%

          .header-menu__icon
            padding 0 20px
            width 100%
            font-size 13px
            justify-content flex-start

          &:first-child
            border-left 0

      .nav
        z-index 1
        position relative
        align-items flex-start
        width 100%

        li
          width 100%
          border-bottom 1px solid $menu_bdr_clr

          &:last-child
            border-bottom 0

        .active .nav-link
          font-weight bold

        .nav-link
          font-weight 400
          font-size 14px
          line-height 21px
          padding 10px 16px
          height var(--map-tags-height)
          display flex
          align-items center

      .open_menu &
        transition transform .3s, opacity .15s
        transform translateY(0)
        opacity 1
        pointer-events all

    //+above($wide + $menu_extra)
    //  display grid
    //  grid-template-columns 1fr auto 1fr

    &__icon
      transition color .3s
      color #fff
      display flex
      align-items center
      flex-flow column

      &:not(.btn)
        svg
          fill $gray
          height 16px
          width 16px
          //flex 1 0 auto
          opacity .5
          transition opacity .3s, fill .3s

        +below($tab - 1px)
          svg
            fill #fff
            opacity 1

      +below($wide - 1px)
        flex-flow row
        justify-content center

      +above($wide)
        flex-flow row

  .currency-menu

    +above($tab)
      padding 0 22px 0 5px
      border-left 1px solid $menu_bdr_clr

    +above($wide)
      padding 0 30px

    li
      display flex
      padding-left 24px

      +below($tab - 1px)
        padding-left: 22px

        &:first-child
          padding-left: 0

      +above($tab)
        padding-left 17px

      +above($wide)
        padding-left 20px

      +above($wide + $menu_extra)
        padding-right 23px

      //&:first-child
      //  padding-left 0

  .currency-menu,
  .user-menu
    display flex
    align-items stretch
    font-size 12px
    line-height 15px

  .user-menu
    justify-content flex-end

    li
      display flex
      border-left 1px solid $menu_bdr_clr

    .header-menu__icon
      cursor pointer
      padding 0 23px
      min-width 60px

      +above($tab)
        padding 0 24px

      +above($wide)
        padding 0 32px

      span
        padding 0 0 0 10px

      &:not(.btn):hover
        color $gray

        svg
          opacity 1

    +above($tab)
      .__map-aside &
        margin-left auto
        //padding-right 10px
        display flex

  .nav
    +above($tab)
      .nav-link
        font-size 13px

    +above($wide)
      transition margin-right .3s
      //margin-right 150px
      margin-bottom -1px

      .nav-link
        font-size 14px
        //transition padding-bottom .3s, padding-top .3s
        padding-bottom 12px

    //.__scroll &
    //  margin-top -7px
    //  margin-right 0

    +above($wide + $menu_extra)
      padding 0 10px

      .__scroll &

        .nav-link
          padding-top 22px
          padding-bottom 20px

    .nav-link
      transition color .3s, padding .3s
      padding-right 60px

      +above($mob_menu)
        padding-left 17px
        padding-right 16px
        min-height 100%
        display flex
        align-items center

        &::before
          content ''
          position absolute
          bottom -6px
          right 0
          left 0
          height 2px
          transition background .3s

      +above($wide)
        padding-left 18px
        padding-right 18px

        &::before
          bottom -5px

      +between($wide, $wide + $menu_extra * 2 - 1px)
        .__page-aside &
          padding-left: 12px
          padding-right: 12px
          font-size: 13px

    li
      //+above($wide)
      //  padding 0 5px
      //
      //  &:first-child
      //    padding-left 0
      //
      //  &:last-child
      //    padding-right 0

      &.active
        .nav-link
          +above($tab)
            &::before
              background $red

.logo-holder
  //transition padding .3s, margin-top .3s
  padding 24px 0 10px
  //text-align center
  //pointer-events none

  .header &
    padding-top 10px

    + .currency-menu
      border-left 0

    +below($tab - 1px)
      padding 16px 0

  .logo
    transition color .3s
    pointer-events all
    color #fff
    cursor pointer
    font-family $fontPTSerif
    font-style normal
    font-weight bold
    font-size 28px
    line-height var(--header-mob-mapbtn-height)

    .header &
      +above($wide + $menu_extra * 2)
        font-size 32px
        line-height 42px

    .__short.header &
      line-height var(--header-mob-mapbtn-height)

    &:hover
      color $red

.burger
  burger()
  cursor pointer
  position fixed
  top 30px
  right 20px
  z-index 3
  min-width 30px
  margin-right 2px
  margin-left -8px
  width 30px
  transform scale(1.75)

  &::before
    content ''
    position absolute
    top -10px
    bottom -10px
    right 0
    left 0

  span
    pointer-events none
    margin-left 8px

  +below($wide - 1px)
    transition top .3s

  .open_menu &
    burger_open()

    span
      &:nth-of-type(1),
      &:nth-of-type(3)
        margin-left 12px

  +above($mob_menu)
    display none

.currency-name
  color $gray
  font-weight 500

.currency-value
  padding-left 4px

.currency-trend
  position relative
  padding-left 18px

  &::before
    content ''
    position absolute
    top 50%
    left 8px
    transform translateY(-50%)
    width 0
    height 0
    border-left 3px solid transparent
    border-right 3px solid transparent

  &.__up
    color $green

    &::before
      border-bottom 3px solid $green

  &.__down
    color $red

    &::before
      border-top 3px solid $red

