.aside-holder
  margin 0 auto
  max-width $content_max_width

  +desktop()
    padding-top 40px
    display grid
    grid-template-columns auto 392px
    grid-template-areas "section aside"

    .section-holder
      grid-area section
      display flex
      flex-flow column

      .section
        flex 1 0 auto
        margin-right 0
        max-width 1468px

        &::before
          width calc(50vw + 392px)

    .hero-aside
      grid-area aside

    &.__top
      .hero
        padding-top 0

//.section-holder
//  background #f9f9f9

.hero
  position relative
  padding 20px 0 25px

  &::before
    content ''
    position absolute
    top 0
    left -100vw
    right -100vw
    bottom 0
    pointer-events none
    background $menu_bg_clr

  +above($tab)
    padding 40px 0
    display grid
    grid-template-columns 36fr 40fr
    grid-column-gap 14px
    grid-template-areas "title preview" "scroller scroller"

  +desktop()
    margin-right -30px
    padding-right 60px

  &-title
    grid-area title
    position relative
    z-index 1
    display flex
    padding 10px 0
    flex-flow column
    justify-content flex-end
    align-items flex-start

    > span
      font-weight bold
      font-size 24px
      line-height 28px
      letter-spacing 0.01em
      padding 10px
      background #000000
      color #fff

      &:last-of-type
        margin-bottom 2px

      +above($tab)
        font-size 32px
        line-height 40px
        margin-right -100%

        &:last-of-type
          margin-bottom 24px

      +desktop()
        font-size 42px
        line-height 48px

    +above($tab)
      padding-bottom 10px
      padding-top 20px
      justify-content space-between

    +desktop()
      padding-bottom 0
      padding-top 10px

  &-preview
    grid-area preview
    position relative
    overflow hidden
    min-height 355px

    img
      img_center()

    +below($tab - 1px)
      pointer-events none
      display block
      position absolute
      top -90px
      right -20px
      left -20px
      bottom 0

      &::after
        content ''
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background rgba(0, 0, 0, .45)

    +above($tab)
      display block

  &-scrollbar
    position absolute
    bottom 0
    right 20px
    left 20px
    height 4px
    background rgba(255, 255, 255, .25)
    border-radius 2px

    +above($tab)
      right 30px
      left 30px

    .handle
      border-radius 2px
      position relative
      width 100px
      height 100%
      background rgba(255, 255, 255, .65)
      cursor pointer

      &::before
        content ''
        position absolute
        top 50%
        left 0
        right 0
        height 20px
        margin-top -10px

  &-scroller
    touch-action none
    transition opacity .3s
    opacity 0
    grid-area scroller
    padding-top 40px
    padding-bottom 24px
    margin 0 -20px
    overflow hidden
    position relative
    //custom_scroll(rgba(255, 255, 255, .25))

    &.__loaded
      opacity 1

    .js-hero-slider
      padding-left 20px

    .card-holder
      grid-gap 0
      padding-right 20px

      .card
        user-select none
        width 228px
        flex 1 0 auto
        margin-right 20px

        +above($tab)
          margin-right 30px

        +desktop()
          width 294px

    +above($tab)
      padding-top 42px
      margin-left -30px
      margin-right -30px

      .card-holder
        padding-right 30px

      .js-hero-slider
        padding-left 30px

    +desktop()
      padding-top 52px
      margin-right -60px

    .card
      color #fff

    .card-title
      font-family $fontInter
      font-weight 600

      +above($tab)
        line-height 24px

    .card-preview
      height 124px
      position relative

      img
        img_center()

  &-wrapper
    padding 28px 20px 24px
    margin-bottom 24px

    .card-holder.__hero
      margin-bottom 0

    &.__black
      background $menu_bg_clr

      +above($tab)
        padding 32px 30px 24px
        margin-bottom 32px

      +above($wide)
        padding 40px 30px 32px

  &-aside
    //z-index 1
    //position absolute
    //top 40px
    //left 100%
    position fixed
    right 0
    top 0
    height var(--app-height)
    //margin-bottom calc(-1 * var(--app-height))
    background #fff
    z-index 1003
    padding 36px 28px
    transition transform .3s
    width var(--home-aside-width)
    display none
    overflow-x hidden
    overflow-y auto
    overscroll-behavior none
    transform translateX(100%)
    hidden_scroll()
    //custom_scroll(rgba(0, 0, 0, .25))

    .__aside-white &
      z-index 1000

    +below($wide - 1px)
      .__aside-wide-only &
        display none !important

    .__page-aside &
      +between($wide, $wide + $menu_extra * 2 - 1px)
        padding-right 20px

      +below($wide - 1px)
        z-index unset
        top unset
        bottom unset
        left unset
        right unset
        position relative
        display block
        width 100%
        transform none !important
        height auto
        overflow hidden
        padding 32px 22px 100px
        max-height calc(var(--app-height) - var(--header-search-height) - var(--header-mob-mapbtn-height) - var(--header-mob-height) - 30px)

        &.__no-foot
          padding-bottom 32px

          &::before
            display none

        &.__expanded
          max-height none

        &::before
          content ''
          position absolute
          bottom 0
          right 0
          left 0
          background inherit
          z-index 1
          height 100px

      +below($tab - 1px)
        max-height calc(var(--app-height) - var(--header-mob-height) - 30px)

    .__open-popup.__page-aside &
      +above($wide)
        right var(--app-scroll-size)

    +above($wide_1600)
      display block
      transform translateX(0)

    &__back
      font-weight 500
      font-size 12px
      line-height 15px
      color #000
      display flex
      align-items center
      margin-bottom 10px
      z-index 1

      &:hover
        color $red

      .btn-icon
        width 16px
        height 16px
        margin-right 8px
        margin-bottom -1px

      +below($tab - 1px)
        margin 0 -4px 0 auto
        position relative

        &::before
          content ''
          position absolute
          bottom -18px
          left -18px
          background #fff
          width 60px
          height 60px
          z-index -1

        .btn-icon
          width 20px
          height 20px

      +above($wide)
        margin-top -5px

    &__article
      z-index 1002 !important
      transform translateX(100%)

      +above($tab)
        min-width 427px

      .article
        padding 0
        width 100%

        h1
          font-size 20px
          line-height 26px
          margin-bottom 8px

          &:first-child
            margin-top 10px

            +below($tab - 1px)
              margin-top -28px
              margin-right 36px
              position relative
              z-index 1

          +above($tab)
            font-size 21px
            line-height 27px

        p
          font-size 13px
          line-height 20px
          margin-bottom 10px
          letter-spacing 0

          +above($tab)
            font-size 14px
            line-height 24px
            margin-bottom 14px

          +above($dt)
            font-size 14px
            line-height 21px

        .article-controls
          padding 8px 0 18px

          +below($tab - 1px)
            padding 4px 0 18px

            .btn.__s-41
              height 37px

        .card-info
          padding-bottom 15px

          +below($tab - 1px)
            padding-bottom 18px

        .article-image
          margin-left 0
          margin-right 0
          margin-bottom 16px

          +below($tab - 1px)
            max-height 160px
            margin-left -8px
            margin-right -8px

      +below($tab - 1px)
        .hero-aside__head
          background none

          &::after
          &::before
            display none

      &.__open
        transform translateY(0)

        //+ .hero-aside
        //  opacity 0
        //  transform translateX(100%)

    &__footer
      position absolute
      bottom 12px
      right 20px
      left 20px
      z-index 1

    &__head
      background inherit
      display flex
      flex-flow row wrap
      align-items center
      justify-content space-between

      .btn
        width 100%

        +below($wide - 1px)
          &.__s-45
            height 41px
            font-size 13px
            line-height 21px
            margin-bottom 5px

    &__context
      +above($tab)
        transform translateX(0)

      .card-title
        cursor pointer

    &__list
      +between($wide, $wide + $menu_extra * 2 - 1px)
        .__page-aside &
          margin-top -13px

      li
        position relative
        padding-bottom 17px

        &.__active
          &::before
            content ''
            position absolute
            z-index -1
            top 0
            bottom -1px
            right calc(-1 * var(--map-aside-right))
            left calc(-1 * var(--map-aside-left))
            background #FAFAFA
            border-top 1px solid #E8E8E8
            border-bottom 1px solid #E8E8E8

          &::after
            content ''
            position absolute
            top 0
            bottom -1px
            left calc(-1 * var(--map-aside-left))
            width 4px
            background $red

        &:not(:first-child) .card-info
          border-top 1px solid #E8E8E8

    &__caption
      font bold 23px / 1 $fontPTSerif
      color #000
      margin-bottom 20px

      +between($wide, $wide + $menu_extra * 2 - 1px)
        .__page-aside &
          font-size 21px

      &:not(:only-child)
        margin-right 5px

    &__update
      font 500 12px / 15px $fontInter
      color $gray
      margin-top 6px

      +below($wide - 1px)
        font-size 11px
        line-height 13px

    .card-title
      font 600 14px / 18px $fontInter

    .card-description
      display block
      margin-top 4px
      color rgba(0, 0, 0, .65)
      font 400 13px / 20px $fontInter
