.aside-holder
  margin 0 auto
  max-width $content_max_width

  +desktop()
    padding-top: 40px
    display grid
    grid-template-columns auto 392px
    grid-template-areas "section aside"

    .section-holder
      grid-area section
      display flex
      flex-flow column

      .section
        flex 1 0 auto
        margin-right 0
        max-width 1468px

        &::before
          width calc(50vw + 392px)

    .hero-aside
      grid-area aside

    &.__top
      .hero
        padding-top 0

//.section-holder
//  background #f9f9f9

.hero
  position relative
  padding 20px 0 25px

  &::before
    content ''
    position absolute
    top 0
    left -100vw
    right -100vw
    bottom 0
    pointer-events none
    background #222

  +above($tab)
    padding 40px 0
    display grid
    grid-template-columns 36fr 40fr
    grid-column-gap 14px
    grid-template-areas "title preview" "scroller scroller"

  +desktop()
    margin-right -30px
    padding-right 60px

  &-title
    grid-area title
    position relative
    z-index 1
    display flex
    padding 10px 0
    flex-flow column
    justify-content flex-end
    align-items flex-start

    > span
      font-weight bold
      font-size 24px
      line-height 28px
      letter-spacing 0.01em
      padding 10px
      background #000000
      color #fff

      &:last-of-type
        margin-bottom 2px

      +above($tab)
        font-size 32px
        line-height 40px
        margin-right -100%

        &:last-of-type
          margin-bottom 24px

      +desktop()
        font-size 42px
        line-height 48px

    +above($tab)
      padding-bottom 10px
      padding-top 20px
      justify-content space-between

    +desktop()
      padding-bottom 0
      padding-top 10px

  &-preview
    grid-area preview
    position relative
    overflow hidden
    min-height 355px

    img
      img_center()

    +below($tab - 1px)
      pointer-events none
      display block
      position absolute
      top -90px
      right -20px
      left -20px
      bottom 0

      &::after
        content ''
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background rgba(0, 0, 0, .45)

    +above($tab)
      display block

  &-scrollbar
    position absolute
    bottom 0
    right 20px
    left 20px
    height 4px
    background rgba(255, 255, 255, .25)
    border-radius 2px

    +above($tab)
      right 30px
      left 30px

    .handle
      border-radius 2px
      position relative
      width 100px
      height 100%
      background rgba(255, 255, 255, .65)
      cursor pointer

      &::before
        content ''
        position absolute
        top 50%
        left 0
        right 0
        height 20px
        margin-top -10px

  &-scroller
    touch-action none
    transition opacity .3s
    opacity 0
    grid-area scroller
    padding-top 40px
    padding-bottom 24px
    margin 0 -20px
    overflow hidden
    position relative
    //custom_scroll(rgba(255, 255, 255, .25))

    &.__loaded
      opacity 1

    .js-hero-slider
      padding-left 20px

    .card-holder
      grid-gap 0
      padding-right: 20px

      .card
        user-select none
        width 228px
        flex 1 0 auto
        margin-right 20px

        +above($tab)
          margin-right 30px

        +desktop()
          width 294px

    +above($tab)
      padding-top 42px
      margin-left -30px
      margin-right -30px

      .card-holder
        padding-right: 30px

      .js-hero-slider
        padding-left 30px

    +desktop()
      padding-top 52px
      margin-right -60px

    .card
      color #fff

    .card-title
      font-family $fontInter
      font-weight 600

      +above($tab)
        line-height 24px

    .card-preview
      height 124px
      position relative

      img
        img_center()

  &-aside
    //z-index 1
    //position absolute
    //top 40px
    //left 100%
    position: fixed
    right: 0
    top: 0
    height: var(--app-height)
    //margin-bottom: calc(-1 * var(--app-height))
    background #fff
    z-index 1003
    padding 36px 28px
    transition transform .3s
    width var(--home-aside-width)
    display none
    overflow-y: auto
    hidden_scroll()
    transform translateX(100%)
    //custom_scroll(rgba(0, 0, 0, .25))

    .__open-popup &
      right: var(--app-scroll-size)

    +above($wide_1600)
      display block
      transform translateX(0)

    &__back
      font-weight: 500
      font-size: 12px
      line-height: 15px
      color: #000
      display flex
      align-items center
      margin-bottom: 10px

      &:hover
        color: $red

      .btn-icon
        width: 16px
        height: 16px
        margin-right: 8px

    &__article
      z-index: 1002 !important
      transform translateX(100%)

      +above($tab)
        min-width 427px

      .article
        padding: 0

        h1
          font-size: 20px
          line-height: 26px

          +above($tab)
            font-size: 21px
            line-height: 28px

        p
          font-size: 13px
          line-height: 20px
          margin-bottom: 10px

          +above($tab)
            font-size: 14px
            line-height: 24px

          +above($dt)
            font-size: 14px
            line-height: 21px

        .article-image
          margin-left: 0
          margin-right: 0

      &.__open
        transform translateX(0)

        //+ .hero-aside
        //  opacity: 0
        //  transform translateX(100%)

    &__head
      background: inherit
      display flex
      flex-flow row wrap
      align-items center
      justify-content space-between

      .btn
        width: 100%

    &__context
      transform: translateX(0)

      .card
        cursor: pointer

    &__list
      li
        padding-bottom 17px

        &:not(:first-child) .card-info
          border-top 1px solid #E8E8E8

    &__caption
      font bold 23px / 1 $fontPTSerif
      color #000000
      margin-bottom 20px

    &__update
      font 500 12px / 15px $fontInter
      color: $gray
      margin-bottom 16px

    .card-title
      font 400 14px / 21px $fontInter
