.grid-sizer
  position absolute
  top 0
  left 0
  opacity 0
  pointer-events none

.card
  display block
  color #000

  &-holder
    position relative
    display flex
    grid-gap 20px

    &.__grid
      clearfix()
      transition opacity .3s
      display block
      margin-bottom 40px
      grid-column-gap 0
      opacity 0

      &.__loaded
        opacity 1

      +below($tab - 1px)
        &:last-child
          margin-bottom 0

      +above($tab)
        margin-right -20px
        margin-bottom 6px

      +desktop()
        margin-bottom 24px
        margin-right -30px

      li
        +below($tab - 1px)
          height auto !important
          width 100%

          &:not(.grid-sizer) + li
            border-top 1px solid #E8E8E8
            margin-top 16px
            padding-top 16px

          .card-info
            padding-top 12px

          &:not(.__w-2)
            .card
              position relative

              &.__text
                .card-title
                  font bold 16px / 21px $fontPTSerif

                .card-footer
                  padding-bottom 0

                .card-info
                  padding-top 0
                  border 0

              &:not(.__text)
                padding-right 145px
                min-height 110px

                .card-info
                  padding-top 0

                //.card-views
                //  position absolute
                //  bottom 0
                //  left 0

                .card-preview
                  position absolute
                  top 0
                  right 0
                  width 133px
                  height 110px

                  img
                    img_center()
                    width auto

        &.__w-2
          .card-title
            font-size 21px
            line-height 28px

            +above($tab)
              font-size 24px
              line-height 32px

        //+below($tab - 1px)
        //  .card-preview
        //    height 120px

        +above($tab)
          float left
          //overflow hidden
          //position absolute
          width 25%
          padding-bottom 22px
          padding-right 20px

          &::before
            //content ''
            display block
            padding-bottom calc(60% + 110px + 40px)

          //.card
          //  position absolute
          //  top 0
          //  left 0
          //  right 20px
          //  bottom 20px
          //  overflow hidden

          //.card-preview
          //  height 48%

          &.__w-2
            width 50%

        &.__h-2
          +above($tab)
            &::before
              padding-bottom calc(100% + 20px)

        //.card-preview
        //  height 63%

        +desktop()
          padding-bottom 28px
          padding-right 30px

          &::before
            padding-bottom calc(60% + 65px + 40px)

          //.card
          //  right 30px
          //  bottom 30px

          //.card-preview
          //  height 59%

          &.__no-img .card
            top 15px

          &.__w-2 .card-title
            font-size 24px
            line-height 32px

          &.__h-2
            &::before
              padding-bottom calc(100% + 30px)

    &.__hero
      margin-bottom: -36px

      li.__main
        width: 100%
        margin-bottom: 12px
        height: auto !important

        .card
          +above($tab)
            display grid
            grid-column-gap 20px
            grid-template-areas "img title" "img text" "img link"
            grid-template-columns 4.3fr 5.6fr

          +above($wide)
            grid-template-columns 1fr 1fr
            grid-column-gap 30px

        .card-footer
          grid-area link

          +above($tab)
            padding-top: 14px

        .card-title
          color: #fff
          font-weight: 700
          font-size: 24px
          line-height: 29px
          padding-top: 6px
          grid-area title

          +below($tab - 1px)
            font-size: 21px
            line-height: 28px
            margin-top: 10px

          +above($wide)
            font-size: 32px
            line-height: 39px

        .card-description
          font-weight: 300
          font-size: 14px
          line-height: 21px
          color: #B2B2B2
          grid-area text

          +below($tab - 1px)
            display none

        .card-preview
          grid-area img

          img
            img_center()

          +below($tab - 1px)
            height: 148px

            img
              img_center()
              width auto

        +above($tab)
          + li + li ~ li
            display none

        +above($dt)
          + li + li ~ li
            display block

      li:not(.__main)
        .card-preview
          height: 148px

          img
            img_center()

        +above($tab)
          width 50%

        +above($dt)
          width 33.3333%

    //.card-preview
    //  height 320px

    +desktop()
      grid-gap 30px

  &-share
    display flex
    flex-flow row nowrap
    align-items center
    font-weight: 500
    font-size: 12px
    line-height: 15px
    color: #B2B2B2

    svg
      width: 15px
      height: 15px
      margin-left: 4px

  &-link
    display flex
    flex-flow row nowrap
    align-items center
    font-weight: 500
    font-size: 12px
    line-height: 15px
    color: #000

    svg
      width: 10px
      height: 10px
      margin-left: 9px

  &-preview
    overflow hidden
    position relative

    &.__map
      padding-top: 10px
      padding-bottom: 12px

    //height 110px

    //+above($tab)
    //  height 120px
    //
    //+desktop()
    //  height 152px

    img
      //img_center()
      width 100%
      display block

  &-tags
    display flex
    flex-flow row nowrap
    align-items center

    span
      display block
      padding-left: 5px
      position: relative
      font-weight: 500
      font-size: 12px
      line-height: 15px
      text-align: right
      color: #666

      + span

        &::before
          content: '•'
          padding-left: 2px
          padding-right: 6px

  &-icon
    color: #fff
    width: 20px
    height: 20px
    border-radius: 100%
    display flex
    align-items center
    justify-content center

    svg
      width: 10px
      height: 10px

    &.__blue
      background: $blue

    &.__red
      background: $red

  &-logo
    display flex
    align-items center

    span
      font-weight 500
      font-size 12px
      line-height 15px
      padding-left 8px

    img
      display block

  &-title
    transition color .3s
    font bold 16px / 21px $fontPTSerif

    .__no-img &
      font 400 14px / 21px $fontInter

  &-description
    margin-top 8px
    font-size 14px
    line-height 21px
    color #000

    .section.__black &
      color: #fff

    +below($tab - 1px)
      display none

  &-info
    padding 12px 0 8px
    display flex
    align-items center
    justify-content space-between

    .hero-scroller &
      padding-top 16px

    .__no-img &
      border-top 1px solid #E8E8E8

  &-footer
    display flex
    align-items center
    padding-bottom 6px

    .map-holder__aside &
      justify-content space-between
      margin-bottom: -10px

    .map-holder__aside .card-title + &
      padding-top: 12px

    +above($tab)
      padding-bottom 10px

    .card-date
      margin-top 8px

  &-tag
    color #888
    background #EBEBEB
    border-radius 4px
    margin-right 8px
    margin-top 8px
    padding 4px 8px
    font-weight 500
    font-size 12px
    line-height 15px

    + .card-logo
      margin-left: 4px

  &-date
    color #888
    font-weight 500
    font-size 12px
    line-height 15px

  &-views
    color #BBB
    font-weight 500
    font-size 12px
    line-height 15px
    display flex
    align-items center

    svg
      width 14px
      height 11px
      margin-right 5px
      fill #BBB

  &:hover
    .card-title
      color $red

  .section.__black &

    .card-info
      border-top-color #454545

    &:not(:hover)
      color #fff

    &:hover
      color #bbb
