.grid-sizer
  position: absolute
  top: 0
  left: 0
  opacity 0
  pointer-events none

.card
  display block
  color: #000

  &-holder
    position relative
    display flex
    grid-gap 20px

    &.__grid
      clearfix()
      transition opacity .3s
      display block
      margin-bottom 40px
      grid-column-gap 0
      opacity: 0

      &.__loaded
        opacity: 1

      +below($tab - 1px)
        &:last-child
          margin-bottom: 0

      +above($tab)
        margin-right: -20px
        margin-bottom: 20px

      +above($wide)
        margin-bottom: 10px
        margin-right: -30px

      li
        +below($tab - 1px)
          height auto !important
          width: 100%

          &:not(.grid-sizer) + li
            border-top: 1px solid #E8E8E8
            margin-top: 16px
            padding-top: 16px

          .card-info
            padding-top: 12px

          &:not(.__w-2)
            .card
              position: relative

              &.__text
                .card-title
                  font: bold 16px/21px 'PTSerif'

                .card-info
                  padding-top: 0
                  border: 0

              &:not(.__text)
                padding-right: 140px
                padding-bottom: 20px
                min-height 110px

                .card-info
                  padding-top: 0

                .card-date
                  position: absolute
                  bottom: 0
                  left: 0

                .card-preview
                  position: absolute
                  top: 0
                  right: 0
                  width: 133px

        &.__w-2
          .card-title
            font-size: 21px
            line-height: 28px

            +above($tab)
              font-size: 24px
              line-height: 32px

          //+below($tab - 1px)
          //  .card-preview
          //    height: 120px

        +above($tab)
          float: left
          //overflow: hidden
          //position: absolute
          width: 25%
          padding-bottom: 10px
          padding-right: 20px

          &::before
            //content: ''
            display block
            padding-bottom: calc(60% + 110px + 40px)

          //.card
          //  position: absolute
          //  top: 0
          //  left: 0
          //  right: 20px
          //  bottom: 20px
          //  overflow: hidden

          //.card-preview
          //  height: 48%

          &.__w-2
            width: 50%

        &.__h-2
          +above($tab)
            &::before
              padding-bottom: calc(100% + 20px)

            //.card-preview
            //  height: 63%

        +above($wide)
          padding-bottom: 20px
          padding-right: 30px

          &::before
            padding-bottom: calc(60% + 65px + 40px)

          //.card
          //  right: 30px
          //  bottom: 30px

          //.card-preview
          //  height: 59%

          &.__no-img .card
            top: 15px

          &.__w-2 .card-title
            font-size: 24px
            line-height: 32px

          &.__h-2
            &::before
              padding-bottom: calc(100% + 30px)

            //.card-preview
            //  height: 320px

    +above($wide)
      grid-gap 30px

  &-preview
    overflow: hidden
    position: relative
    //height: 110px

    //+above($tab)
    //  height: 120px
    //
    //+above($wide)
    //  height: 152px

    img
      //img_center()
      width 100%
      display block

  &-logo
    display flex
    align-items center

    span
      font-weight: 500
      font-size: 12px
      line-height: 15px
      padding-left: 8px

    img
      display block

  &-title
    transition color .3s
    font: bold 16px/21px 'PTSerif'

    .__no-img &
      font: 400 14px / 21px Inter, sans-serif

  &-description
    margin-top: 8px
    font-size: 14px
    line-height: 21px
    color: #000000

    +below($tab - 1px)
      display none

  &-info
    padding: 16px 0 8px
    display flex
    align-items center
    justify-content space-between

    .__no-img &
      border-top: 1px solid #E8E8E8

  &-date
    color: #888
    font-weight: 500
    font-size: 12px
    line-height: 15px

  &:hover
    .card-title
      color: #E41D1D

  .section.__black &
    .card-info
      border-top-color: #454545

    &:not(:hover)
      color: #ffffff
