.pagination
  display flex
  align-items center
  justify-content center

  &-more
    text-align center

    .btn-more
      max-width 374px
      padding 0 30px
      margin 0 auto 15px

  .btn
    margin 2px

  +above($tab)
    padding 5px 0 25px

  +desktop()
    padding-bottom 15px

  &.__middle
    padding: 25px 0
