.partners

  &-text
    display none

    +above($tab)
      display block

  &-holder

    +below($tab - 1px)
      .partner-group
        .card
          margin-top: 32px
          position: relative
          padding-right: 145px
          display flex
          flex-flow column
          justify-content center
          align-items flex-start
          min-height 110px

          &::before
            content: ''
            position: absolute
            right: 0
            left: 0
            top: -16px
            height: 1px
            background: #454545

          .card-info
            padding-top: 8px
            order: 1

          .card-preview
            position: absolute
            top: 0
            right: 0
            width: 133px

      //.partners-main
      //  .card-preview
      //    height: 120px

    +above($tab)
      display grid
      grid-gap 20px
      grid-template-areas "group_1 group_2" "main main" "text text"

      .partner-group
        display grid
        grid-gap 20px
        padding-bottom: 12px
        grid-template-columns 1fr 1fr

      .__group-1
        grid-area group_1

      .__group-2
        grid-area group_2

      //.partners-main
      //  .card-preview
      //    height: 180px
      //
      //    img
      //      img_center()
      //      width: auto

      .partners-text
        grid-area text

        +below($wide)
          padding-top: 12px

        .card-holder
          display grid
          grid-column-gap 25px
          grid-template-columns 1fr 1fr 1fr 1fr

    +above($wide)
      padding-top: 12px
      grid-column-gap 30px
      grid-template-columns 263px auto 263px
      grid-template-areas "group_1 main group_2" "group_1 text group_2"

      //.partners-main .card-preview
      //  height: 320px

      .partner-group
        display block
        padding-bottom: 0

        .card + .card
          margin-top: 26px

.partners-main
  grid-area main

  .card-title
    margin-top: 12px
    font-size: 24px
    line-height: 32px
