.mfp-container
  overflow-y auto
  overscroll-behavior none
  padding 0

  &::before
    display none

.mfp-content
  min-height 100%
  display flex
  align-items center

  +below($tab - 1px)
    align-items flex-end
    //padding 2vh 0 min(160px, 2vh)

.popup
  padding 36px 26px
  background #fff
  width 100%
  max-width 422px
  //max-height 96vh
  //overflow-y auto
  margin 0 auto
  box-shadow 0 20px 34px rgba(0, 0, 0, 0.1)
  position relative

  .form-cell:last-child
    margin-bottom 0

  p
    font-size 14px
    line-height 21px
    margin-bottom 30px

  &-link
    color #666
    text-decoration underline

    &:hover
      text-decoration none

  &-footer
    text-align center
    font-size 14px
    line-height 17px
    color #666
    padding-top 32px

  &-title
    text-align center
    margin 0 32px 32px
    font bold 28px / 37px $fontPTSerif

    &.__left
      margin-left 0
      text-align left

  .mfp-close
    transition opacity .3s
    font-size 34px
    top 35px
    right 20px
    z-index 1

  +above($tab)
    padding 36px 30px

  +below($tab - 1px)
    //position fixed
    //bottom 0
    //right 0
    //left 0
    //z-index 5

    &-title
      .wide &
        margin-left 0
        text-align left
        font-size 21px
        line-height 28px

  &.wide
    max-width 618px

.mfp-bg
  background #000
  opacity .5
